---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import FooterNew from "../components/FooterNew.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import AboutHero from "../sections/AboutHero.astro";
import JoeRobert from "../sections/JoeRobert.astro";
import TheTeam from "../sections/TheTeam.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />

        <title>Robert Ventures: Meet the Experienced Team</title>
		<meta name="description" content="Meet Robert Ventures' expert team, led by Joe Robert. Discover our mission and innovative strategies in real estate and digital asset investment." />

        <meta property="og:url" content="https://robertventures.com/about-us" />
    </head>
    <body>
        <Header />
        <AboutHero />
        <JoeRobert />
        <TheTeam/>

        <FooterNew />
    </body>
</html>
