---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

import Calculator from "../sections/Calculator.astro";
import HeroboxV2 from "../sections/HeroboxV2.astro";
import Comparison from "../sections/Comparison.astro";
import WhyRobertVentures from "../sections/WhyRobertVentures.astro";
import JoeRobert from "../sections/JoeRobert.astro";
import HowItWorks from "../sections/HowItWorks.astro";
import FooterNew from "../components/FooterNew.astro";
import FAQ from "../sections/FAQ.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<title>Robert Ventures: Compound Your Wealth Passively!</title>
		<meta name="description" content="We provide predictable and reliable fixed-rate returns of up to 10% APY for investors secured by real estate and technology assets." />

		<meta property="og:url" content="https://robertventures.com/" />
	</head>
	<body>
		<Header />
		<HeroboxV2/>
		<Comparison/>
		<WhyRobertVentures/>
		<HowItWorks/>
		<JoeRobert />
		<Calculator />
		<FAQ />

		<FooterNew />

	</body>
</html>
