---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";

import Calculator from "../sections/Calculator.astro";
import HeroboxV2 from "../sections/HeroboxV2.astro";
import Featured from "../sections/Featured.astro";
import BondsTrustedByNumbers from "../sections/BondsTrustedByNumbers.astro";
import AvailableBondsOfferings from "../sections/AvailableBondsOfferings.astro";
import Comparison from "../sections/Comparison.astro";
import WhyRobertVentures from "../sections/WhyRobertVentures.astro";
import JoeRobert from "../sections/JoeRobert.astro";
import HowItWorksV2 from "../sections/HowItWorksV2.astro";
import ReviewsV2 from "../sections/ReviewsV2.astro";
import FooterNew from "../components/FooterNew.astro";
import FAQ from "../sections/FAQ.astro";
import Articles from "../sections/Articles.astro";
import Testimonials from "../sections/Testimonials.astro";

const pageTitle = "Robert Ventures: Compound Your Wealth Passively!";
const pageDescription =
    "We provide predictable and reliable fixed-rate returns of up to 10% APY for investors secured by real estate and technology assets.";
---

<!doctype html>
<html lang="en">
    <head>


        <BaseHead title={pageTitle} description={pageDescription} />

        <!-- Structured data -->
        <script type="application/ld+json">
            {
                "@context": "https://schema.org",
                "@type": "Organization",
                "name": "Robert Ventures",
                "url": "https://robertventures.com/",
                "logo": "src/images/logos/rv-logo-vertical.svg",
                "description": "Robert Ventures offers SEC-approved fixed-rate bonds with annual returns up to 10%, backed by diversified investments in real estate and digital assets.",
                "telephone": "+1 302-404-6341",
                "contactPoint": {
                    "@type": "ContactPoint",
                    "telephone": "+1 302-404-6341",
                    "contactType": "customer service",
                    "areaServed": "US",
                    "availableLanguage": ["English"]
                },
                "sameAs": [
                    "https://www.facebook.com/Robertventures",
                    "https://twitter.com/RobertVentures_",
                    "https://www.instagram.com/robert_ventures/",
                    "https://www.youtube.com/@RobertVentures",
                    "https://www.linkedin.com/company/robertventures"
                ]
            }
        </script>
    </head>
    <body>
        <Header/>
        <HeroboxV2 />
        <Featured />
        <BondsTrustedByNumbers />
        <AvailableBondsOfferings />
        <Calculator />
        <HowItWorksV2 />
        <ReviewsV2 />
        <Comparison />
        <WhyRobertVentures />
        <JoeRobert />
        <Testimonials />
        <!-- <Articles /> -->
        <FAQ />
        <FooterNew />

        <script src="/scripts/formHandler.js" async/>
    </body>
</html>
