---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { Image } from "astro:assets";

import Herobox from "../sections/Herobox.astro";
import Benefits from "../sections/Benefits.astro";
import Calculator from "../sections/Calculator.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>

		</style>

	</head>
	<body>
		<Header />
		<Herobox />
		<Benefits />
		<Calculator />

		<Footer />

	</body>
</html>
