---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import FooterNew from "../components/FooterNew.astro";
import HeroboxWebinarFollowUp from "../sections/HeroboxWebinarFollowUp.astro";
import ReviewsV2 from "../sections/ReviewsV2.astro";
import FAQ from "../sections/FAQ.astro";

const pageTitle = "Invest in Fixed-Rate Bonds - Up to 10% APY | Robert Ventures";
const pageDescription = "Start investing with Robert Ventures. Earn up to 10% APY with SEC-qualified fixed-rate bonds backed by real estate and technology assets.";
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={pageTitle} description={pageDescription} />
    </head>
    <body>
        <Header />
        <HeroboxWebinarFollowUp />
        <ReviewsV2 />
        <FAQ />
        <FooterNew />
    </body>
</html>
