---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import FooterNew from "../components/FooterNew.astro";

const pageTitle = "Robert Ventures: Privacy Policy";
const pageDescription = "Robert Ventures protects your privacy. Our policy outlines the collection, use, and security of your personal information.";
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={pageTitle} description={pageDescription} />

        <meta property="og:url" content="https://robertventures.com/privacy-policy" />
        <meta name="robots" content="noindex, nofollow" />

        <style>
            section {
                margin-bottom: 1.5rem;
            }

            .section-container {
                max-width: 1280px;
                margin: 0 auto;
                border-radius: 1rem;
                background: #fff;
                padding: 3rem 1.5rem;
            }

            .section-content {
                margin: 0 auto;
            }

            @media only screen and (min-width: 768px) {
                .section-container {
                    padding: 4rem 0;
                }
                .section-content {
                    max-width: 910px;
                }
            }
        </style>
    </head>
    <body>
        <Header />

        <section>
            <div class="section-container">
                <div class="section-content">
                    <div name="termly-embed" data-id="69586270-3fac-4362-9540-c6bce0167bcb" data-type="iframe"></div>
                </div>
            </div>
        </section>


    </body>
    <script is:inline type="text/javascript">
        (function (d, s, id) {
            var js, tjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "https://app.termly.io/embed-policy.min.js";
            tjs.parentNode.insertBefore(js, tjs);
        })(document, "script", "termly-jssdk");
    </script>
</html>
