---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import StrategyHero from "../sections/StrategyHero.astro";
import StrategyRealEstate from "../sections/StrategyRealEstate.astro";
import StrategyDigital from "../sections/StrategyDigital.astro";
import FooterNew from "../components/FooterNew.astro";
import InvestNow from "../sections/InvestNow.astro";
import Bitcoin from "../sections/Bitcoin.astro";
import Ethereum from "../sections/Ethereum.astro";
import WhyInclude from "../sections/WhyInclude.astro";
import WhyNow from "../sections/WhyNow.astro";

const pageTitle = "Robert Ventures: Strategy";
const pageDescription =
    "Discover Robert Ventures' strategy for diversified investment in Real Estate and Digital Assets, balancing stability with growth for long-term yield.";
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={pageTitle} description={pageDescription} />
        <meta property="og:url" content="https://robertventures.com/strategy" />
    </head>
    <body>
        <Header />
        <StrategyHero />
        <StrategyRealEstate />
        <InvestNow />
        <StrategyDigital />
        <Bitcoin />
        <Ethereum />
        <WhyInclude />
        <WhyNow />
        <FooterNew />
        <!-- FORM HANDLER -->
        <script src="../scripts/formHandler.js"></script>
    </body>
</html>
