---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import FooterOld from "../components/FooterOld.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import StrategyHero from "../sections/StrategyHero.astro";
import StrategyRealEstate from "../sections/StrategyRealEstate.astro";
import StrategyDigital from "../sections/StrategyDigital.astro";
import CTADark from "../sections/CTADark.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
        <style>

        </style>
    </head>
    <body>
        <Header />
            <StrategyHero />
            <StrategyRealEstate />
            <StrategyDigital />
            <CTADark />
        <FooterOld />

        <script is:inline></script>
    </body>
</html>
