---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import FooterNew from "../components/FooterNew.astro";

const pageTitle = "Robert Ventures: Terms of Use";
const pageDescription = "Review the terms governing your use of Robert Ventures' services. Our terms of use ensure transparency and fair practices for all users.";
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={pageTitle} description={pageDescription} />
        <meta property="og:url" content="https://robertventures.com/terms-of-use" />
        <meta name="robots" content="noindex, nofollow">

        <style>
            section {
                margin-bottom: 1.5rem;
            }

            .section-container {
                max-width: 1280px;
                margin: 0 auto;
                border-radius: 1rem;
                background: #fff;
                padding: 3rem 1.5rem;
            }

            .section-content {
                max-width: 366px;
                margin: 0 auto;
            }
        </style>
    </head>
    <body>
        <Header />

        <section>
            <div class="section-container">
                <div class="section-content">
                    <div name="termly-embed" data-id="99a34aff-414b-4328-93b0-9de28b79474f"></div>
                </div>
            </div>
        </section>


    </body>

    <script is:inline type="text/javascript">
        (function(d, s, id) {
            var js, tjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "https://app.termly.io/embed-policy.min.js";
            tjs.parentNode.insertBefore(js, tjs);
        }(document, 'script', 'termly-jssdk'));
    </script>
</html>
