---
import BaseHead from "../components/BaseHead.astro";


const pageTitle = "Robert Ventures: Test";
const pageDescription =
    "test.";
---

<style>


</style>

<!doctype html>
<html lang="en">
    <head>


        <BaseHead title={pageTitle} description={pageDescription} />

    </head>

    <style>

        .frame{
            display: flex;
            align-items: center;
            justify-content: center;

            /* height: 600px; */

            margin-top: 4rem;
        }


    </style>

    <body>
        <section>
            <div class="section-container">
                <h1>Hello World</h1>
                <div class="frame">
                    <iframe src="https://docsend.com/view/y56kibvta3vnkzyq" allow="fullscreen" width="640" height="480"></iframe>
                </div>
            </div>
        </section>
    </body>
</html>
