---
import BaseHead from "../components/BaseHead.astro";

const pageTitle = "Robert Ventures: Test";
const pageDescription = "test.";
---

<style>
    .frame {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 4rem;
        width: 640px;
        height: 480px;
        border: 1px solid #ccc;
    }
</style>

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={pageTitle} description={pageDescription} />
        <script src="https://documentcloud.adobe.com/view-sdk/main.js"></script>
    </head>
    <body>
        <section>
            <div class="section-container">
                <h1>Hello World</h1>
                <div id="adobe-dc-view" class="frame"></div>
            </div>
        </section>
        <script is:inline>
            const ADOBE_CLIENT_ID = "a2e91a32169c47009757382ad2fa89b8"; // Your Adobe API client ID

            function displayPDF() {
                const adobeDCView = new AdobeDC.View({
                    clientId: ADOBE_CLIENT_ID,
                    divId: "adobe-dc-view",
                });
                adobeDCView.previewFile(
                    {
                        content: {
                            location: {
                                url: "/pdf/RobertVenturesYieldFundBrochure(V6).pdf", // Replace with your PDF URL
                            },
                        },
                        metaData: {
                            fileName: "Robert Ventures Yield Fund Brochure.pdf",
                        },
                    },
                    {}
                );
            }

            if (window.AdobeDC) {
                displayPDF();
            } else {
                document.addEventListener("adobe_dc_view_sdk.ready", displayPDF);
            }
        </script>
    </body>
</html>
