---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";





import FooterNew from "../components/FooterNew.astro";
import HeroboxWebinarThank from "../sections/HeroboxWebinarThank.astro";


const pageTitle = "Robert Ventures: Webinar";
const pageDescription =
    "Review our investor webinar presentation to learn more about our 8-10% annual interest rate corporate bonds.";
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={pageTitle} description={pageDescription} />
        <meta property="og:url" content="https://robertventures.com/webinar-thank-you" />
        <meta name="robots" content="noindex, nofollow" />
    </head>
    <body>
        <Header />
        <HeroboxWebinarThank/>

        <FooterNew />
        <script is:inline>
            // Check invest_intent in localStorage and fire Meta Pixel if > 1000
            const investIntent = parseInt(localStorage.getItem("invest_intent"), 10);
            if (investIntent > 1000) {
                !(function (f, b, e, v, n, t, s) {
                    if (f.fbq) return;
                    n = f.fbq = function () {
                        n.callMethod
                            ? n.callMethod.apply(n, arguments)
                            : n.queue.push(arguments);
                    };
                    if (!f._fbq) f._fbq = n;
                    n.push = n;
                    n.loaded = !0;
                    n.version = "2.0";
                    n.queue = [];
                    t = b.createElement(e);
                    t.async = !0;
                    t.src = v;
                    s = b.getElementsByTagName(e)[0];
                    s.parentNode.insertBefore(t, s);
                })(
                    window,
                    document,
                    "script",
                    "https://connect.facebook.net/en_US/fbevents.js"
                );
                fbq("init", "652212003052612");
                fbq("track", "CompleteRegistration", { value: investIntent, currency: "USD" });
                console.log("✅ Meta Pixel tag fired: Lead");
                // Add noscript fallback dynamically
                const noscript = document.createElement("noscript");
                noscript.innerHTML = `
                    <img
                        height="1"
                        width="1"
                        style="display:none"
                        src="https://www.facebook.com/tr?id=652212003052612&ev=PageView&noscript=1"
                    />
                `;
                document.head.appendChild(noscript);
            } else {
                console.log("❌ Meta Pixel tag not fired: invest_intent not > 1000");
            }
        </script>
    </body>
</html>
