---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";

import HeroboxWebinar from "../sections/HeroboxWebinar.astro";
import InvestmentOptions from "../sections/InvestmentOptions.astro";
import WhyNowWebinar from "../sections/WhyNowWebinar.astro";
import JoeRobertWebinar from "../sections/JoeRobertWebinar.astro";
import Testimonials from "../sections/Testimonials.astro";

import FooterNew from "../components/FooterNew.astro";

const pageTitle = "Robert Ventures: Webinar";
const pageDescription =
    "Review our investor webinar presentation to learn more about our 8-10% annual interest rate corporate bonds.";
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={pageTitle} description={pageDescription} />
        <meta property="og:url" content="https://robertventures.com/webinar" />
        <meta name="robots" content="noindex, nofollow" />
    </head>
    <body>
        <Header />
        <HeroboxWebinar />
        <InvestmentOptions />
        <WhyNowWebinar />
        <JoeRobertWebinar />
        <Testimonials />
        <FooterNew />
    </body>
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/intl-tel-input@19.5.6/build/css/intlTelInput.css"
    /><link
        rel="stylesheet"
        href="https://webinarkit.com/css/ewk_v5.css?cache=5"
    />
    <script is:inline
        src="https://cdn.jsdelivr.net/npm/intl-tel-input@19.5.6/build/js/intlTelInput.min.js"
    ></script>
    <script is:inline
        src="https://cdn.jsdelivr.net/npm/luxon@3.4.4/build/global/luxon.min.js"
    ></script>
    <script is:inline src="https://webinarkit.com/js/ewk_v7.js?v=6&sv=true"></script>
</html>
