---

---


<form
    action="https://app.convertkit.com/forms/6905080/subscriptions"
    class="seva-form formkit-form herobox-convertkit conversion_v1"
    method="post"
    data-sv-form="6905080"
    data-uid="de0ce0c207"
    data-format="inline"
    data-version="6"
    data-options='{"settings":{"after_subscribe":{"action":"redirect","success_message":"Success! Now check your email to confirm your subscription.","redirect_url":"https://go.joerobert.com/investpreneurs"},"analytics":{"google":null,"fathom":null,"facebook":null,"segment":null,"pinterest":null,"sparkloop":null,"googletagmanager":null},"modal":{"trigger":"timer","scroll_percentage":null,"timer":5,"devices":"all","show_once_every":15},"powered_by":{"show":false,"url":"https://convertkit.com/features/forms?utm_campaign=poweredby&utm_content=form&utm_medium=referral&utm_source=dynamic"},"recaptcha":{"enabled":true},"return_visitor":{"action":"show","custom_content":""},"slide_in":{"display_in":"bottom_right","trigger":"timer","scroll_percentage":null,"timer":5,"devices":"all","show_once_every":15},"sticky_bar":{"display_in":"top","trigger":"timer","scroll_percentage":null,"timer":5,"devices":"all","show_once_every":15}},"version":"6"}'
    min-width="400 500 600 700 800"
>
    <div data-style="clean">
        <ul
            class="formkit-alert formkit-alert-error"
            data-element="errors"
            data-group="alert"
        >
        </ul>
        <div
            data-element="fields"
            data-stacked="true"
            class="seva-fields formkit-fields form-fields"
        >
            <div class="formkit-field">
                <input
                    class="formkit-input"
                    name="email_address"
                    aria-label="Email Address"
                    placeholder="Email Address"
                    required=""
                    type="email"
                />
            </div>
            <div class="formkit-field hidden">
                <input
                    class="formkit-input"
                    aria-label="UTM_CAMPAIGN"
                    name="fields[utm_campaign]"
                    placeholder="UTM_CAMPAIGN"
                    type="hidden"
                />
            </div>
            <div class="formkit-field hidden">
                <input
                    class="formkit-input"
                    aria-label="UTM_CONTENT"
                    name="fields[utm_content]"
                    placeholder="UTM_CONTENT"
                    type="hidden"
                />
            </div>
            <div class="formkit-field hidden">
                <input
                    class="formkit-input"
                    aria-label="UTM_MEDIUM"
                    name="fields[utm_medium]"
                    placeholder="UTM_MEDIUM"
                    type="hidden"
                />
            </div>
            <div class="formkit-field hidden">
                <input
                    class="formkit-input"
                    aria-label="UTM_SOURCE"
                    name="fields[utm_source]"
                    placeholder="UTM_SOURCE"
                    type="hidden"
                />
            </div>
            <div class="formkit-field hidden">
                <input
                    class="formkit-input"
                    aria-label="UTM_TERM"
                    name="fields[utm_term]"
                    placeholder="UTM_TERM"
                    type="hidden"
                />
            </div>
            <button data-element="submit" class="formkit-submit formkit-submit">
                <div class="formkit-spinner">
                    <div></div>
                    <div></div>
                    <div></div>
                </div><span class="">Get Started</span>
            </button>
        </div>
    </div>
</form>
