---

---

<style>
  .cta-block {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    max-width: 384px;
  }

  a {
    text-decoration: none;
    text-align: center;
    border-radius: 8px;

    font-size: 18px;
    font-weight: 600;
    line-height: 100%;
    font-family: "Roboto", sans-serif;

    padding: 12px;

    width: 100%;
    box-sizing: border-box;

    margin: 0;
  }

  .webinar {
    background-color: var(--green-brand);
    border: 1px solid var(--green-brand);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    color: #FFFFFF;
    transition:
      background-color 0.2s ease,
      border-color 0.2s ease;
  }

  .webinar:active {
    background-color: var(--green-hover);
    border-color: var(--green-hover);
  }
</style>

<div class="cta-block">
  <a class="webinar" href="/webinar" data-track-cta="join_our_webinar" data-track-location="hero"
    >Join Our Webinar</a
  >
</div>
