---
import Rvlogo from "../images/svg/rv-logo.svg";

import Youtube from "../images/svg/socials/youtube.svg";
import X from "../images/svg/socials/x.svg";
import Instagram from "../images/svg/socials/instagram.svg";
import Linkedin from "../images/svg/socials/linkedin.svg";
import Facebook from "../images/svg/socials/facebook.svg";
---

<style>
    footer {
        margin-bottom: 1.5rem;
    }

    .footer-container {
        max-width: 1280px;
        margin: 0 auto;
        border-radius: 1rem;
        /* background: #fff; */
        padding: 3rem 1.5rem;

        padding-bottom: 0;
    }

    .footer-content {
        max-width: 912px;
        margin: 0 auto;
    }

    .intro {
        display: flex;
        align-items: center;
        justify-content: space-between;

        margin-bottom: 1rem;
    }

    .socials {
        display: flex;
        gap: 1rem;
    }

    hr {
        border: 0;
        height: 1px;
        background: #abbbd3;

        margin-bottom: 2rem;
    }

    .footer-link-lists {
        display: flex;
        justify-content: space-between;

        margin-bottom: 3rem;
    }

    .list {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        flex: 1;
    }

    .list a {
        text-decoration: none;

        color: #1d1d1f;
        line-height: 100%; /* 1rem */
    }

    .list a.phone {
        text-decoration: underline;
    }

    .risk p,
    .risk a {
        color: #737373;
        font-size: 16px;
        font-weight: 400;
        line-height: 150%; /* 1.3125rem */

        margin-bottom: 2rem;
    }

    .end {
        color: #737373;
        text-align: center;
        font-family: "Inter";
        font-size: 8px;
    }

    @media only screen and (min-width: 768px) {
        footer {
            padding: 0 2rem;
        }
    }
    @media only screen and (min-width: 990px) {
        .footer-container {
            padding: 4rem 1.5rem;
        }
    }
</style>

<footer>
    <div class="footer-container">
        <div class="footer-content">
            <div class="intro">
                <a href="/"><Rvlogo /></a>

                <div class="socials">
                    <a
                        href="https://twitter.com/RobertVentures_"
                        target="_blank"><X /></a
                    >
                    <a
                        href="https://www.instagram.com/robert_ventures/"
                        target="_blank"><Instagram /></a
                    >
                    <a
                        href="https://www.linkedin.com/company/robertventures"
                        target="_blank"><Linkedin /></a
                    >
                    <a
                        href="https://www.facebook.com/Robertventures"
                        target="_blank"><Facebook /></a
                    >
                </div>
            </div>

            <hr />

            <div class="footer-link-lists">
                <div class="list">
                    <a href="/strategy" class="link"> Strategy </a>
                    <a href="/about-us" class="link"> About Us </a>
                    <a href="/articles/" class="link"> Articles </a>
                    <a href="/calendar" class="link"> Contact </a>
                    <a
                        href="https://invest.robertventures.com/login"
                        class="link"
                    >
                        Login
                    </a>
                </div>

                <div class="list">
                    <a href="/privacy-policy" class="link">Privacy Policy</a>
                    <a href="/terms-of-use" class="link">Terms of use</a>
                    <a href="/cookie-policy" class="link">Cookie Policy</a>
                    <a href="/disclaimer" class="link">Disclaimer</a>
                    <a class="phone" href="tel:+13024046341">+1 302 404 6341</a>
                    <a class="phone" href="tel:+19195827575">+1 919 582 7575</a>
                </div>
            </div>

            <div class="risk">
                <!-- <p>
                    Important Risk Information: Investing involves risk. There
                    is a potential that Robert Ventures Holdings LLC (the
                    “Company”) may not be able to make the scheduled payments of
                    interest or principal on the bonds related to its existing
                    securities offering. While the Company believes the
                    assumptions and forward-looking statements contained
                    throughout this website are reasonable, the Company cannot
                    guarantee future results, performance, or achievements.
                    Anticipated returns, expense estimates, and investor
                    payments discussed throughout this website are based on the
                    Company's assumptions and beliefs and are not reflective of
                    past operations of the Company. This website's calculator
                    provides estimates, and actual returns and payments may
                    differ based on final agreements. <a
                        href="https://www.sec.gov/Archives/edgar/data/1991519/000109690624001946/rvh_253g2.htm"
                        >Our Preliminary Offering Here</a
                    >
                </p> -->

                <p>
                    Robert Ventures Holdings LLC is testing the waters under
                    Regulation A of the Securities Act of 1933, as amended. This
                    process allows companies to determine whether there may be
                    interest in an eventual offering of its securities. The
                    Company is not under any obligation to make an offering
                    under Regulation A. The Company may choose to make an
                    offering to some, but not all, of the people who indicate an
                    interest in investing, and that offering does not need to be
                    made under Regulation A. If the Company does proceed with an
                    offering under Regulation A, it will be able to make sales
                    only after it has filed an offering statement with the
                    Securities and Exchange Commission (“SEC”) and only after
                    the SEC has qualified such offering statement. The
                    information in the offering statement will be more complete
                    than these test-the-waters materials and could differ in
                    important ways. You must read the offering statement filed
                    with the SEC. No money or other consideration is being
                    solicited at this time and if sent to the Company will not
                    be accepted. No offer to buy securities in a Regulation A+
                    offering of the Company can be accepted and no part of the
                    purchase price can be received until the Company's offering
                    statement is qualified with the SEC and any such offer may
                    be withdrawn or revoked, without obligation or commitment of
                    any kind, at any time before notice of its acceptance given
                    after the qualification date. Any indications of interest in
                    the Company's offering involves no obligation or commitment
                    of any kind. A link to the Company's latest Preliminary
                    Offering Circular can be found here <a
                        href="https://www.sec.gov/Archives/edgar/data/1991519/000109690625001583/rvh_1apos.htm"
                        >Robert Ventures Holdings LLC Preliminary Offering Circular</a
                    >
                </p>

                <div class="end">
                    © {new Date().getFullYear()} Robert Ventures LLC. All rights
                    reserved.
                </div>
            </div>
        </div>
    </div>
</footer>
