---

---

<style>
	footer {
		background-color: #111519;
		padding-top: 3rem;
		padding-bottom: 1.5rem;
	}

	.footer-container {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		max-width: 1356px;
		margin: 0 auto;
		margin-bottom: 1rem;
	}

	.footer-cta {
		background-color: #fefefe;
		margin: 0 0.5rem;
		padding: 2rem 0.5rem;
		border-radius: 0.5rem;
	}

	.footer-cta-content {
		max-width: 358px;
	}

	h3 {
		font-size: 2.5rem;
		margin-bottom: 1rem;
	}

	h3 span {
		background: linear-gradient(90deg, #281480 0%, #3c1fbf 50%);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	form {
		display: flex;
		flex-direction: column;
		margin: 0 auto;
		gap: 0.75rem;
	}

	form input {
		width: 100%;
		padding: 1rem 0.75rem;
		font-size: 1rem;
		font-family: Inter, sans-serif;
		border-radius: 0.75rem;
		border: 1px solid #afb5bc;
	}

	button {
		background-color: #5028ff;
		color: #fff;
		padding: 15px;
		font-family: Inter, sans-serif;
		font-size: 1.125rem;
		font-weight: 500;
		border-radius: 0.75rem;
		border: 1px solid #5028ff;
		cursor: pointer;
	}

	.signup-error {
		color: red;
		text-align: center;
		display: none;
		font-size: 0.875rem;
	}

	.loader {
		width: 10px;
		height: 10px;
		border-radius: 50%;
		background-color: white;
		display: inline-block;
		animation: pulse 1s infinite;
	}

	@keyframes pulse {
		0% {
			transform: scale(1);
			opacity: 1;
		}
		50% {
			transform: scale(1.5);
			opacity: 0.5;
		}
		100% {
			transform: scale(1);
			opacity: 1;
		}
	}

	.footer-links {
		margin: 0 0.5rem;
		background-color: #151a20;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 1rem;
		grid-row-gap: 3rem;
		padding: 3rem 0.5rem;
	}

	.footer-heading {
		color: #f4f6fa;
		line-height: 1;
		margin-bottom: 1.5rem;
		font-weight: 700;
		font-size: 1rem;
		font-family: "Satoshi", sans-serif;
	}

	.links {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	.links a {
		color: #dbe2eb;
		text-decoration: none;
		font-size: 0.875rem;
		line-height: 19px;
		font-weight: 500;
	}

	.info {
		margin: 0 0.5rem;
	}

	.info p {
		font-size: 0.875rem;
		color: #7f8ca0;
	}

	.info a {
		font-family: 'Satoshi', sans-serif;
		font-size: 1rem;
		font-weight: 500;
		line-height: 1.5em;
		text-decoration: underline;
		color: #7f8ca0;
	}

	.end{
		display: flex;
		flex-direction: column;
		gap: 12px;

		margin: 0 0.5rem;

		margin-top: 1rem;
	}

	.end, .end p, .end a{
		font-size: 0.875rem;
		color: #dbe2eb;
		line-height: 20px;
	}

	.contact{
		display: flex;
		flex-direction: column;
		gap: 12px;
	}

	.end-info-container{
		max-width: 1356px;
		margin: 0 auto;
	}

	@media screen and (min-width: 768px) {
		.footer-cta {
			padding: 3rem;
			margin: 0 1rem;
		}

		.info{
			margin: 0 1rem;
		}

		.end{
			flex-direction: row;
			justify-content: space-between;

			margin: 0 1rem;

			margin-top: 1rem;
		}

		.footer-links{
			margin: 0 1rem;
			padding: 3rem;
		}

		.contact{
			flex-direction: row;
		}
	}

	@media screen and (min-width: 990px) {
		.footer-container {
			flex-direction: row;
			gap: 2rem;
			margin-bottom: 2rem;
		}

		.footer-links {
			margin: 0;
			padding: 3rem 3rem 4rem;
		}
		form {
			flex-direction: row;
			max-width: 460px;
			margin: 0;
		}
		button {
			padding: 0 2rem;
			text-wrap: nowrap;
		}
		.footer-cta {
			margin: 0;
			flex: 3;
		}

		.footer-cta-content {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			height: 100%;
			max-width: none;
		}

		.footer-links {
			flex: 5;
			grid-template-columns: 1fr 1fr 1fr;
		}

		.info{
			margin: 0;
		}

		.end{
			margin: 0;
			margin-top: 1rem;
		}
	}


</style>
<footer>
	<div class="footer-container">
		<div class="footer-cta">
			<div class="footer-cta-content">
				<h3>Ready to invest? <span>Let's Get Started!</span></h3>
				<form id="cta-form">
					<input
						type="email"
						placeholder="Enter your email"
						required
						class="email-input"
					/>
					<p class="signup-error"></p>
					<button type="submit">
						<span class="button-text">Get Started</span>
						<span class="loader" style="display: none;"></span>
					</button>
				</form>
			</div>
		</div>

		<div class="footer-links">
			<div class="footer-link-list">
				<p class="footer-heading">Company</p>
				<div class="links">
					<a href="/">Strategy</a>
					<a href="/">Articles</a>
					<a href="/">About us</a>
					<a href="/">Contact</a>
					<a href="/">Login</a>
				</div>
			</div>
			<div class="footer-link-list">
				<p class="footer-heading">Legal</p>
				<div class="links">
					<a href="/">Privacy Policy</a>
					<a href="/">Terms of use</a>
					<a href="/">Cookie Policy</a>
					<a href="/">Disclaimer</a>
				</div>
			</div>
			<div class="footer-link-list">
				<p class="footer-heading">Company</p>
				<div class="links">
					<a href="/">Facebook</a>
					<a href="/">Instagram</a>
					<a href="/">Twitter</a>
					<a href="/">Linkedin</a>
					<a href="/">Youtube</a>
				</div>
			</div>
		</div>

	</div>

	<div class="end-info-container">
		<div class="info">
			<p class="text">
				Important Risk Information: Investing involves risk. There is a
				potential that Robert Ventures Holdings LLC (the “Company”) may not
				be able to make the scheduled payments of interest or principal on
				the bonds related to its existing securities offering. While the
				Company believes the assumptions and forward-looking statements
				contained throughout this website are reasonable, the Company cannot
				guarantee future results, performance, or achievements. Anticipated
				returns, expense estimates, and investor payments discussed
				throughout this website are based on the Company's assumptions and
				beliefs and are not reflective of past operations of the Company.
				This website's calculator provides estimates, and actual returns and
				payments may differ based on final agreements.
			</p>
			<a
				href="https://www.sec.gov/Archives/edgar/data/1991519/000109690624001946/rvh_253g2.htm"
				>Our Current Preliminary Offering HERE</a
			>
		</div>
	
		<div class="end">
			<div class="contact">
				<p>2810 N Church St. Wilmington, Delaware 19802</p>
				<a href="tel:+13024046341">+1 302 404 6341</a>
			</div>
			<p>© 2025 Robert Ventures LLC</p>
		</div>
	</div>
</footer>

<script is:inline>
	document
		.getElementById("cta-form")
		.addEventListener("submit", async function (event) {
			event.preventDefault();

			const emailInput = document.querySelector(".email-input");
			const email = emailInput.value;
			const buttonText = document.querySelector(".button-text");
			const loader = document.querySelector(".loader");
			const signupError = document.querySelector(".signup-error");

			buttonText.style.display = "none";
			loader.style.display = "inline-block";
			signupError.style.display = "none";

			try {
				const response = await fetch("/api/get-started", {
					method: "POST",
					headers: {
						"Content-Type": "application/json",
					},
					body: JSON.stringify({ email }),
				});

				const result = await response.json();

				if (response.ok) {
					console.log("Signup successful!");
					window.location.href = "/signup";
				} else {
					const errorMessage = result.error || "Signup failed";
					signupError.textContent = errorMessage;
					signupError.style.display = "block";
				}
			} catch (error) {
				console.error("Error:", error);
				signupError.textContent = "An unexpected error occurred.";
				signupError.style.display = "block";
			} finally {
				buttonText.style.display = "inline-block";
				loader.style.display = "none";
			}
		});
</script>
