---

---

<!-- <style>
    .form {
        max-width: 366px;

        margin: 0 auto;
    }

    .form-block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-shrink: 0;
        margin: 0 auto;

        flex-direction: column;
        gap: 0.75rem;

        width: 100%;
        box-sizing: border-box;

        margin-bottom: 1.25rem;
    }

    .name {
        display: flex;
        gap: 0.75rem;
        width: 100%;
    }

    input,
    select {
        border: none;
        flex-grow: 1; /* Allow the input to grow */
        border: 1px solid #afb5bc;
        padding: 1rem 0.75rem;
        width: 100%;
        box-sizing: border-box;

        border-radius: 0.75rem;
    }

    input::placeholder,
    select:invalid {
        color: #737373;
        opacity: 1;
    }

    select {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background-color: #fff;
        border: 1px solid #afb5bc;
        width: 100%;

        color: #737373;
    }
    select:required:not(:invalid) {
        color: #1d1d1f;
    }

    button {
        background-color: #5028ff;
        border: none;
        color: #fff;
        border-radius: 0.75rem;

        padding: 1rem 0.75rem;

        font-size: 1.125rem;
        font-weight: 500;

        width: 100%;
    }

    .signup-error {
        display: none;
        color: red;
        text-align: center;
        margin-top: 0.5rem;
    }

    .loader {
        border: 2px solid #f3f3f3;
        border-top: 2px solid #5028ff;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        animation: spin 1s linear infinite;
        display: none;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    @media only screen and (min-width: 990px) {
        .account {
            max-width: none;
        }
    }
</style> -->


<style>
    .register-text{
        color: #fff;
    }
</style>
<div class="form">
    <!-- <form id="form-cta">
        <div class="form-block">
            <select required>
                <option value="" disabled selected>Select an upcoming session</option>
                <option value="option1">Session 1</option>
                <option value="option2">Session 2</option>
                <option value="option3">Session 3</option>
            </select>
            <div class="name">
                <input
                    type="text"
                    placeholder="First Name"
                    required
                    class="email-input"
                />
                <input
                    type="text"
                    placeholder="Last Name"
                    required
                    class="email-input"
                />
            </div>
            <input
                type="email"
                placeholder="Enter Your Email"
                required
                class="email-input"
            />
            <select required>
                <option value="" disabled selected
                    >How much are you looking to invest</option
                >
                <option value="option1">1k</option>
                <option value="option2">5k</option>
                <option value="option3">10k</option>
                <option value="option3">25k</option>
                <option value="option3">50k</option>
                <option value="option3">100k+</option>
            </select>

            <input
                type="text"
                name="bot-field"
                class="bot-field"
                style="display: none;"
            />
        </div>
        <button type="submit"> Get Started </button>
        <p class="signup-error"></p>
    </form> -->

    <style>
        @media (max-width: 1e9px) {
            #wk_element_399409224331983c0bb3717d18e66cc0 {
                width: 100%;
                max-width: 100%;
                min-height: 16px;
                padding: 16px;
                margin: 0px auto;
                border-style: solid;
                border-color: rgb(255, 255, 255);
                border-width: 0px;
                border-radius: 16px;
                background: rgb(255, 255, 255);
            }
            #wk_element_889d2c8b54ae5001837c2ec42ca72c7e {
                width: 100%;
                max-width: 100%;
                min-height: 0px;
                padding: 0px;
                margin: 0px;
                border-style: none;
                background: rgba(0, 0, 0, 0);
                font-family: HKGroteskPro, serif;
                font-size: 16px;
                line-height: 1.35;
                letter-spacing: 0px;
                display: flex;
            }
            #wk_element_889d2c8b54ae5001837c2ec42ca72c7e :not(:last-child) {
                margin-bottom: 0px;
            }
            #wk_element_399409224331983c0bb3717d18e66cc0_checkbox {
                color: rgb(0, 0, 0);
            }
            #wk_element_6aef8c2761d05f7a7fee01f707ee3d9f {
                width: 100%;
                max-width: 100%;
                min-height: 0px;
                padding: 8px 16px;
                margin: 0px;
                color: rgb(255, 255, 255);
                border-style: solid;
                border-color: rgb(51, 94, 234);
                border-width: 0px;
                border-radius: 6px;
                background: rgb(51, 94, 234);
                font-family: HKGroteskPro, serif;
                font-size: 19px;
                line-height: 1.5;
                letter-spacing: 0px;
                display: flex;
            }
            #wk_element_6aef8c2761d05f7a7fee01f707ee3d9f :not(:last-child) {
                margin-bottom: 0px;
            }
            #wk_element_0395e8cddb33074c3bdcf16019d90668 {
                width: 540px;
                max-width: 100%;
                min-height: 16px;
                padding: 16px 0px 0px;
                margin: 0px auto;
                border-style: none;
                background: rgba(0, 0, 0, 0);
            }
            #wk_element_0395e8cddb33074c3bdcf16019d90668_calendar {
                background: rgb(51, 94, 234);
            }
            #wk_element_d94017575195c57e80b94bab113f9bdc {
                max-width: 540px;
                min-height: 16px;
                padding: 0px;
                margin: 0px auto;
                border-style: solid;
                border-color: rgb(255, 255, 255);
                border-width: 0px;
                border-radius: 16px;
                background: rgb(255, 255, 255);
            }
        }
        @media (max-width: 992px) {
            #wk_element_399409224331983c0bb3717d18e66cc0 {
            }
        }
        @media (max-width: 768px) {
            #wk_element_399409224331983c0bb3717d18e66cc0 {
            }
        }
    </style><div class="wk_root" style="width: 100%; z-index: 100000;">
        <div
            class="wk_ascend_tree col-12 col-md my-auto shadow wk_column wk_editor_hide_tooltips"
            id="wk_element_d94017575195c57e80b94bab113f9bdc"
            data-custom-css-classes="shadow"
            data-wk-border-style-desktop="solid"
            data-wk-background-type-desktop="solid"
        >
            <div
                class="wk_registration_timer"
                id="wk_element_0395e8cddb33074c3bdcf16019d90668"
                data-wk-background-type-desktop="default"
                data-wk-border-style-desktop="default"
                calendar="hide"
                data-classes="wk_registration_timer"
                data-wk-days-label="days"
                data-wk-hours-label="hours"
                data-wk-in-progress-text="webinar session is now in progress. Register now to join the in progress session."
                data-wk-instant-watch-text="Replay available. Watch now!"
                data-wk-minutes-label="minutes"
                data-wk-next-session-text="Next session in:"
                data-wk-seconds-label="seconds"
                data-wk-webinar-id="684ae034de7a164da41abe10"
                timer_size="small"
            >
                <div class="wk_row_internal">
                    <div class="col wk_timer">
                        <div
                            class="mx-auto rounded-2 shadow wk_calendar"
                            style="max-width: 170px; background: #fff; display:none"
                        >
                            <div
                                class="wk_calendar_color"
                                id="wk_element_0395e8cddb33074c3bdcf16019d90668_calendar"
                                style="border-top-left-radius: .375rem; border-top-right-radius: .375rem"
                            >
                                <h5
                                    class="text-center fw-bold py-2 text-uppercase text-white wk_calendar_month"
                                >
                                    June
                                </h5>
                            </div>
                            <h1
                                class="text-center fw-bold mb-2 pb-2 wk_calendar_day"
                            >
                                15
                            </h1>
                        </div>
                        <h5
                            class="text-center mb-4 mt-5 wk_calendar_header"
                            style="display:none"
                        >
                            <i class="fa-clock fa-regular"></i><span
                                class="wk_calendar_time"
                            >
                                7:00 PM GMT-4</span>
                        </h5>
                        <h6 class="text-center fw-bold wk_timer_header">
                            Next session in:
                        </h6>
                        <div class="wk_row_internal mx-auto wk_timer_row">
                            <div class="col-3 px-0">
                                <h5 class="text-center mb-0 wk_timer_days">
                                    0
                                </h5>
                                <h6
                                    class="text-center mb-0 wk_timer_days_label"
                                >
                                    days
                                </h6>
                            </div>
                            <div class="col-3 px-0">
                                <h5 class="text-center mb-0 wk_timer_hours">
                                    0
                                </h5>
                                <h6
                                    class="text-center mb-0 wk_timer_hours_label"
                                >
                                    hours
                                </h6>
                            </div>
                            <div class="col-3 px-0">
                                <h5 class="text-center mb-0 wk_timer_minutes">
                                    0
                                </h5>
                                <h6
                                    class="text-center mb-0 wk_timer_minutes_label"
                                >
                                    minutes
                                </h6>
                            </div>
                            <div class="col-3 px-0">
                                <h5 class="text-center mb-0 wk_timer_seconds">
                                    0
                                </h5>
                                <h6
                                    class="text-center mb-0 wk_timer_seconds_label"
                                >
                                    seconds
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div
                class="wk_editor_hide_tooltips shadow shadow-none wk_registration_form"
                id="wk_element_399409224331983c0bb3717d18e66cc0"
                data-wk-background-type-desktop="solid"
                data-wk-border-style-desktop="solid"
                data-wk-enable-instant-watch="false"
                data-custom-css-classes="shadow-none"
                data-wk-date-format-type="en-US"
                data-wk-webinar-id="684ae034de7a164da41abe10"
            >
                <form class="wk_ascend_tree wk_registration_form_element">
                    <select
                        class="mb-3 bg-light form-select form-select-lg wk_registration_form_date"
                        onchange="set_date_text(event,this.value)"
                    ></select><input
                        class="wk_registration_form_date_text"
                        type="hidden"
                    /><input
                        class="mb-3 bg-light form-control form-control-lg wk_registration_form_first_name"
                        placeholder="First Name"
                        required=""
                    /><input
                        class="mb-3 bg-light form-control form-control-lg d-none wk_registration_form_last_name"
                        placeholder="Last Name"
                    /><input
                        class="mb-3 bg-light form-control form-control-lg wk_registration_form_email"
                        placeholder="Email"
                        oninput="wk_input_change(this)"
                        type="email"
                        required=""
                    /><input
                        class="form-control form-control-lg bg-light mb-3 wk_registration_form_phone"
                        type="tel"
                        placeholder="Phone Number"
                        required=""
                        oninput="wk_input_change(this)"
                    /><input
                        class="mb-3 bg-light form-control form-control-lg wk_registration_form_custom_field_1"
                        placeholder="How much are you looking to invest?"
                        required=""
                    /><input
                        class="mb-3 bg-light form-control form-control-lg d-none wk_registration_form_custom_field_2"
                        placeholder="Custom Field 2"
                    /><input
                        class="mb-3 bg-light form-control form-control-lg d-none wk_registration_form_custom_field_3"
                        placeholder="Custom Field 3"
                    /><input
                        class="mb-3 bg-light form-control form-control-lg d-none wk_registration_form_custom_field_4"
                        placeholder="Custom Field 4"
                    /><input
                        class="mb-3 bg-light form-control form-control-lg d-none wk_registration_form_custom_field_5"
                        placeholder="Custom Field 5"
                    />
                    <div
                        class="mb-3 d-none mx-0 p-0 wk_registration_form_checkbox wk_row_internal"
                    >
                        <div class="my-auto col-auto">
                            <div class="wk_checkbox">
                                <input
                                    class="wk_checkbox_input"
                                    type="checkbox"
                                    id="wk_element_399409224331983c0bb3717d18e66cc0_checkbox"
                                />
                            </div>
                        </div>
                        <div class="my-auto col">
                            <div
                                class="wk_editor_hide_tooltips wk_text"
                                id="wk_element_889d2c8b54ae5001837c2ec42ca72c7e"
                                data-wk-background-type-desktop="default"
                                data-wk-border-style-desktop="default"
                            >
                                <div
                                    contenteditable="false"
                                    style="width: 100%; margin-top: auto; margin-bottom: auto;"
                                >
                                    <p>
                                        I consent to receiving emails and/or
                                        text message reminders for this event.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div
                        class="wk_editor_hide_tooltips wk_button btn btn-lg wk_button_hide_settings"
                        id="wk_element_6aef8c2761d05f7a7fee01f707ee3d9f"
                        data-wk-background-type-desktop="solid"
                        data-wk-border-style-desktop="solid"
                        onclick="webinar_registration_submit(event)"
                    >
                        <div
                            contenteditable="false"
                            style="width: 100%; margin-top: auto; margin-bottom: auto;"
                        >
                            <p><b class="register-text">REGISTER NOW</b></p>
                        </div>
                    </div>
                </form>
                <div
                    data-lastpass-icon-root=""
                    style="position: relative !important; height: 0px !important; width: 0px !important; float: left !important;"
                >
                </div><div
                    data-lastpass-icon-root=""
                    style="position: relative !important; height: 0px !important; width: 0px !important; float: left !important;"
                >
                </div>
            </div>
        </div>
    </div>
</div>
