---
import Arrow from "../images/svg/right-arrow.svg";
---

<style>
    .cta-block {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    a {
        text-decoration: none;
        text-align: center;
        border-radius: 8px;

        font-size: 20px;
        font-weight: 700;
        font-family: "Satoshi", sans-serif;

        padding: 12px;

        max-width: 366px;
        width: 100%;

        margin: 0 auto;
    }

    .invest {
        background-color: #5028ff;
        border: 1px solid #5028ff;

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;

        color: #fff;
    }

    .webinar {
        color: #281480;
        font-weight: 500;

        border: 1px solid #281480;

        background-color: #fff;
    }
    svg{
        transform: translateY(1px);
    }
</style>

<div class="cta-block">
    <a class="invest" href="https://invest.robertventures.com/offering/rob10/details">Invest<Arrow /></a>
    				<a class="webinar" href="/webinar/">Join Our Webinar</a>
</div>
