---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import { Image } from 'astro:assets';
import RVLogo from '../images/logos/rv-logo.png';
---

<header>
	<nav>
		<h2><a href="/"><Image src={RVLogo} alt="Robert Ventures Logo" /></a></h2>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}


	img{
		max-height: 36px;
		width: auto;
	}
</style>
