---
import Rvlogo from "../images/svg/rv-logo.svg";

import Opener from "../images/svg/link-icon.svg";

---

<style>
	body.menu-open {
		overflow: hidden;
	}

	header {
		margin: 0;
		padding: 0 1em;
		position: relative;
		z-index: 1001; /* Ensure the header is above the mobile menu */
	}

	.header-container {
		max-width: 1280px;
		margin: 0 auto;
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}

	h2 svg {
		max-height: 36px;
		width: auto;
	}

	.hamburger {
		display: none;
		cursor: pointer;
	}

	@media (max-width: 720px) {
		.hamburger {
			display: block;
		}
	}

	@media (max-width: 990px) {
		.hamburger {
			display: block;
		}
	}

	.hamburger svg {
		transition: transform 0.3s ease-in-out;
	}

	.mobile-menu {
		position: fixed;
		bottom: -93vh;
		left: 0;
		width: 100%;
		height: 90dvh;
		background-color: white;
		box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
		transition: bottom 0.3s ease-in-out;
		z-index: 1000;
		padding: 3rem 1.5rem;
		overflow-y: auto; /* Enable vertical scrolling */
		border-radius: 1rem 1rem 0rem 0rem;
		background: #fff;
	}

	.mobile-menu.show {
		bottom: 0; /* No padding at the bottom */
	}

	.menu-link-lists {
		display: flex;
		flex-direction: column;
		gap: 3rem;
		margin-bottom: 5rem;
	}

	.list-heading {
		margin-bottom: 1rem;
		line-height: 1;
		color: #737373;
		font-family: "Inter" sans-serif;
		font-size: 1rem;
		font-weight: 400;
	}

	.links-container {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
	}

	.mobile-menu a {
		display: block;
		color: var(--black);
		text-decoration: none;
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: #1d1d1f;
		font-family: "Inter";
		font-size: 1.25rem;
		font-style: normal;
		font-weight: 500;
		line-height: 1; /* 1.25rem */
	}

	.mobile-menu a p {
		line-height: 1;
	}


	.footer-end {
		text-align: center;
	}

	.footer-end svg {
		margin: 0 auto;
		margin-bottom: 1.5rem;
	}

	.footer-end p {
		color: #737373;
		text-align: center;
		font-size: 0.875rem;
		line-height: 150%; /* 1.3125rem */
		margin-bottom: 1rem;
	}

	.footer-end a {
		color: #737373;
		text-align: center;
		font-size: 1rem;
		font-weight: 400;
		line-height: 150%; /* 1.5rem */
		display: block;
		text-decoration: underline;
	}

	.footer-end img {
		max-height: none;
	}

	@media only screen and (min-width: 768px) {
		header {
			padding: 0 3rem;
		}
		.mobile-menu {
			padding: 4rem 3rem;
		}
		.menu-link-lists {
			flex-direction: row;
			justify-content: space-between;
		}

		.menu-link-lists > div {
			flex: 1;
		}

		.link img {
			display: none;
		}
	}

	.desktop-links {
		display: none;
	}

	.login-link {
		display: none;
	}

	@media (min-width: 991px) {
		.hamburger {
			display: none;
		}

		.desktop-links {
			display: flex;
			gap: 2rem;
			align-items: center;
		}

		.login-link {
			display: flex;
			align-items: center;
		}

		nav {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		nav h2 {
			flex: 1;
		}

		.desktop-links {
			flex: 2;
			justify-content: center;
		}

		.login-link {
			flex: 1;
			justify-content: flex-end;
		}

		.desktop-links a,
		.login-link a {
			color: var(--black);
			text-decoration: none;
			font-size: 1rem;
			font-weight: 500;

			color: #1d1d1f;
			font-family: "Inter";
			font-size: 1rem;
			font-weight: 500;
			line-height: 100%; /* 1rem */
		}

		.desktop-links a:hover,
		.login-link a:hover {
			text-decoration: underline;
		}

		.login-link a {
			display: inline-flex;
			padding: 0.6875rem 2rem;
			align-items: center;
			gap: 0.625rem;

			border-radius: 1.5625rem;
			border: 1px solid #afb5bc;
			background: #fff;
		}
	}
</style>

	<header>
		<div class="header-container">
			<nav>
				<h2>
					<a href="/"
						><Rvlogo />
				</h2>
				<div class="desktop-links">
					<a href="/strategy">Strategy</a>
					<a href="/about-us">About Us</a>
					<a href="/articles">Articles</a>
					<a href="/calendar">Contact</a>
				</div>
				<div class="login-link">
					<a href="https://invest.robertventures.com/login?f=1">Login</a>
				</div>
				<div class="hamburger" id="hamburger">
					<svg
						width="24"
						height="24"
						viewBox="0 0 24 24"
						fill="none"
						xmlns="http://www.w3.org/2000/svg"
					>
						<rect y="4" width="24" height="2" fill="currentColor"
						></rect>
						<rect y="11" width="24" height="2" fill="currentColor"
						></rect>
						<rect y="18" width="24" height="2" fill="currentColor"
						></rect>
					</svg>
				</div>
			</nav>
			<div class="mobile-menu" id="mobileMenu">
				<div class="footer-content">
					<div class="menu-link-lists">
						<div class="list">
							<!-- <p class="list-heading">Robert Ventures</p> -->
							<div class="links-container">
								<a href="/strategy" class="link">
									<p>Strategy</p>
									<Opener />
								</a>
								<a href="/about-us" class="link">
									<p>About Us</p>
									<Opener />
								</a>
								<a href="/articles" class="link">
									<p>Articles</p>
									<Opener />
								</a>
								<a href="/calendar" class="link">
									<p>Contact</p>
									<Opener />
								</a>
								<a href="/https://invest.robertventures.com/login?f=1" class="link">
									<p>Login</p>
									<Opener />
								</a>
							</div>
						</div>
				</div>
			</div>
		</div>
	</header>


<script is:inline>
	document.getElementById("hamburger").addEventListener("click", function () {
		const mobileMenu = document.getElementById("mobileMenu");
		mobileMenu.classList.toggle("show");
		document.body.classList.toggle("menu-open");
	});

	let startY;

	document
		.getElementById("mobileMenu")
		.addEventListener("touchstart", function (e) {
			startY = e.touches[0].clientY;
		});

	document
		.getElementById("mobileMenu")
		.addEventListener("touchmove", function (e) {
			const currentY = e.touches[0].clientY;
			const diffY = currentY - startY;

			if (diffY > 300) {
				// If the user swipes down more than 300px
				const mobileMenu = document.getElementById("mobileMenu");
				mobileMenu.classList.remove("show");
				document.body.classList.remove("menu-open");
			}
		});

	// Check if the current page URL contains '/signup' or 'step'
	if (window.location.pathname.includes('/signup') || window.location.pathname.includes('step')) {
		document.querySelector('.desktop-links').style.opacity = '0';
		document.querySelector('.desktop-links').style.pointerEvents = 'none';
		document.querySelector('.desktop-links').style.cursor = 'default';
	}
</script>
