---
import Image from "astro/components/Image.astro";

import arrow from "../images/design-elements/Arrow-right.svg";
import team from "../images/design-elements/rv-team.png";
---

<style>
    /* FORM */
    form {
        margin-bottom: 1rem;
    }

    .form-block {
        border-radius: 1.5625rem;
        border: 1px solid #afb5bc;
        background: #fff;
        display: flex;
        max-width: 366px;
        height: 3.125rem;
        padding: 1rem 0.5rem 1rem 1.5rem;
        justify-content: space-between;
        align-items: center;
        flex-shrink: 0;
        margin: 0 auto;
    }

    input {
        border: none;
    }

    .form-block button {
        background-color: #5028ff;
        border: 1px solid #5028ff;
        color: #fff;
        border-radius: 2rem;
        width: 2.13156rem;
        height: 2.13156rem;
    }

    .signup-error {
        display: none;
    }

    .account {
        color: #737373;
        font-family: "Inter", sans-serif;
        font-size: 1rem;
        font-weight: 500;
        line-height: 150%;

        text-align: center;
    }

    .login {
        color: #396afb;
    }

    /* FORM */
    section {
        margin-bottom: 1.5rem;
    }

    .section-container {
        max-width: 1280px;
        margin: 0 auto;
        border-radius: 1rem;
        background: #fff;
        padding: 3rem 1.5rem;
    }

    .section-content {
        max-width: 640px;
        margin: 0 auto;
    }

    h2 {
        color: #281480;
        text-align: center;
        font-size: 2.5625rem;

        font-weight: 700;
        line-height: 1.1; /* 2.475rem */

        margin-bottom: 2rem;
    }


    .info img {
        margin: 0 auto;
        margin-bottom: 2rem;
    }

    .info p {
        color: #505050;
        text-align: center;
        font-family: 'Inter';
        font-size: 1.25rem;
        font-weight: 500;
        line-height: 150%; /* 1.875rem */

        margin-bottom: 3rem;
    }

    @media only screen and (min-width: 768px) {
        section {
            padding: 0 2rem;
        }
    }
</style>


<section>
    <div class="section-container">
        <div class="section-content">
            <h2>Wealth Growth to All Investors</h2>
            <div class="info">
                <Image src={team} alt="herobox" width={300} height={96} />

                <p>
                    We're a capital efficient team led by Joe Robert, with
                    decades of experience in real estate and digital asset
                    investments.
                </p>
            </div>

            <div class="form">
                <form id="about-cta-form">
                    <div class="form-block">
                        <input
                            type="email"
                            placeholder="Enter your email"
                            required
                            class="email-input"
                        />
                        <button type="submit">
                            <span class="button-text">
                                <Image
                                    src={arrow}
                                    alt="herobox"
                                    width={24}
                                    height={24}
                                />
                            </span>
                            <span class="loader" style="display: none;"></span>
                        </button>
                    </div>
                    <p class="signup-error"></p>
                </form>
                <p class="account">
                    Have an account? <a class="login" href="/">Log in</a>
                </p>
            </div>
        </div>
    </div>
</section>

<script is:inline>
    document
        .getElementById("about-cta-form")
        .addEventListener("submit", async function (event) {
            event.preventDefault();

            const emailInput = document.querySelector(".email-input");
            const email = emailInput.value;
            const buttonText = document.querySelector(".button-text");
            const loader = document.querySelector(".loader");
            const signupError = document.querySelector(".signup-error");

            buttonText.style.display = "none";
            loader.style.display = "inline-block";
            signupError.style.display = "none";

            try {
                const response = await fetch("/api/get-started", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({ email }),
                });

                const result = await response.json();

                if (response.ok) {
                    console.log("Signup successful!");
                    window.location.href = "/signup";
                } else {
                    const errorMessage = result.error || "Signup failed";
                    signupError.textContent = errorMessage;
                    signupError.style.display = "block";
                }
            } catch (error) {
                console.error("Error:", error);
                signupError.textContent = "An unexpected error occurred.";
                signupError.style.display = "block";
            } finally {
                buttonText.style.display = "inline-block";
                loader.style.display = "none";
            }
        });
</script>
