---
import Image from "astro/components/Image.astro";

import Vanguard from "../images/svg/business-logos/vanguard.svg";
import Fidelity from "../images/svg/business-logos/fidelity.svg";
import Nasdaq from "../images/svg/business-logos/nasdaq.svg";
import Tesla from "../images/svg/business-logos/tesla.svg";
import Blackrock from "../images/svg/business-logos/blackrock.svg";

const articles = [
    {
        title: "Fidelity: Governments Will Be Significant Bitcoin Investors in 2025",
        description: "Fidelity predicts that governments will become significant investors in Bitcoin by 2025.",
        url: "https://www.pymnts.com/news/2025/fidelity-governments-will-be-significant-bitcoin-investors-in-2025/",
        image: "/articles-images/33.webp"
    },
    {
        title: "Strengthening American Leadership in Digital Financial Technology",
        description: "The White House outlines new initiatives to strengthen American leadership in digital financial technology.",
        url: "https://www.whitehouse.gov/presidential-actions/2025/01/strengthening-american-leadership-in-digital-financial-technology/",
        image: "/articles-images/32.webp"
    },
    {
        title: "BlackRock Recommends a Bitcoin Allocation of 1% to 2%",
        description: "BlackRock recommends that investors allocate 1% to 2% of their portfolios to Bitcoin.",
        url: "https://www.blocktrainer.de/en/blog/blackrock-recommends-a-bitcoin-allocation-of-1-to-2",
        image: "/articles-images/31.webp"
    }
];

function truncateText(text, maxLength) {
    if (text.length > maxLength) {
        const truncated = text.slice(0, maxLength);
        const lastSpaceIndex = truncated.lastIndexOf(" ");
        return truncated.slice(0, lastSpaceIndex) + "...";
    }
    return text;
}
---

<style>
    h2 {
        text-align: center;
        margin-bottom: 3rem;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        display: flex;
        flex-direction: column;
        gap: 3rem;

        max-width: 366px;

        margin: 0 auto;
    }

    li a {
        text-decoration: none;
    }

    .articles li img {
        width: 100%;
        height: auto;
        aspect-ratio: 21 / 9;
        object-fit: cover;
        margin-bottom: 0.75rem;
    }

    li h4 {
        color: #1d1d1f;
        font-family: "Inter";
        font-size: 1.125rem;
        font-weight: 500;
        line-height: 1.25; /* 1.40625rem */

        margin-bottom: 0.75rem;
    }

    li p {
        color: #505050;
        font-family: "Inter";
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.6; /* 1.6rem */
    }

    .articles {
        margin-bottom: 4rem;
    }

    hr {
        background: #afb5bc;
        height: 1px;
        width: 100%;
        border: none;

        margin-bottom: 1rem;
    }

    .logos {
        display: flex;
        width: 100%;
        justify-content: space-around;
        flex-wrap: wrap;

        gap: 1rem;
    }


    .logos svg {
        max-width: 100%;
        height: auto; /* Maintain aspect ratio */
        object-fit: contain; /* Ensure the image fits within the container */
    }

    @media only screen and (min-width: 990px) {
        .section-container {
            padding: 4rem 0;
        }
        .section-content {
            max-width: 910px;
        }
        ul {
            max-width: none;

            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
</style>

<section>
    <div class="section-container">
        <div class="section-content">
            <h2>Institutional Involvement</h2>
            <div class="articles">
                <ul>
                    {
                        articles.map((article) => (
                            <li>
                                <a href={article.url} target="_blank" rel="noopener noreferrer">
                                    <img
                                        width={366}
                                        height={156}
                                        src={article.image}
                                        alt=""
                                    />
                                    <h4 class="title">{article.title}</h4>
                                    <p>
                                        {truncateText(
                                            article.description,
                                            90,
                                        )}
                                    </p>
                                </a>
                            </li>
                        ))
                    }
                </ul>
            </div>
            <hr />
            <div class="logos">
                    <Vanguard />
                    <Fidelity />
                    <Nasdaq />
                    <Tesla />
                    <Blackrock />
            </div>
        </div>
    </div>
</section>
