---

---

<style>
    .section{
        margin: 0 0.5rem;
    }

    .container {
        margin: 0 0.5rem;
        padding: 1rem 0.5rem;
        text-align: center;

        background-color: #151A20;

        border-radius: 0.5rem;

        max-width: 1365px;
        margin: 0 auto;

        margin-bottom: 3rem;
        
    }

    h2{
        color: #fefefe;
        font-size: 1rem;
    }



</style>

<div class="section">
    <div class="container">
        <h2>Start investing with just <span>$1000</span></h2>
    </div>
</div>
