---

---

<style>
    .section {
        max-width: 1365px;
        margin: 0 auto;

    }

    .calculator{
        margin: 0 8px;
        padding: 4rem 0.5rem;
        background-color: #fefefe;
        border-radius: 1rem;
    }
    h2 {
        margin-bottom: 3rem;
    }
    .calculate-content {
        padding: 32px 24px;
        border: 1px solid #dbe2eb;
        border-radius: 16px;

        margin-bottom: 24px;
        background-color: #fefefe;
    }
    .calculate-side {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    .calculate-heading {
        margin: 0;
        margin-bottom: 16px;
        font-family:
            Public Sans,
            sans-serif;
        color: #546071;
        font-weight: 500;
    }

    .calculate-data {
        display: flex;
        flex-direction: column;
        gap: 17px;
    }

    .calculate-data-group {
        display: flex;
        align-items: center;
        flex: 1;
    }

    label {
        font-family: Satoshi, sans-serif;
        font-size: 18px;
        color: #7f8ca0;
    }

    input[type="radio"] {
        height: 32px;
        width: 32px;
        accent-color: #3c1fbf;
        margin-right: 12px;
        margin-left: 0px;
    }

    :checked + label {
        color: #1b2028;
    }

    input.amount {
        width: 100%;
    }

    .min-max-data {
        display: flex;
        justify-content: space-between;
    }

    .min-max-data p {
        font-family: Satoshi, sans-serif;
        font-size: 14px;
        line-height: 26px;
        color: #7f8ca0;
        margin: 0;
    }

    .amount-heading {
        font-family: Satoshi, sans-serif;
        font-size: 24px;
        color: #1b2028;
        margin: 0;
        margin-bottom: 13px;
        font-weight: 700;
    }

    /* INPUT  INPUT INPUT  */

    input[type="range"].styled-slider {
        height: 32px;
        -webkit-appearance: none;
    }

    /*progress support*/
    input[type="range"].styled-slider.slider-progress {
        --range: calc(var(--max) - var(--min));
        --ratio: calc((var(--value) - var(--min)) / var(--range));
        --sx: calc(0.5 * 32px + var(--ratio) * (100% - 32px));
    }

    input[type="range"].styled-slider:focus {
        outline: none;
    }

    /*webkit*/
    input[type="range"].styled-slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 32px;
        height: 32px;
        border-radius: 16px;
        background: #3c1fbf;
        border: none;
        box-shadow: none;
        margin-top: calc(2px * 0.5 - 32px * 0.5);
    }

    input[type="range"].styled-slider::-webkit-slider-runnable-track {
        height: 2px;
        border: none;
        border-radius: 0;
        background: #efefef;
        box-shadow: none;
    }

    input[type="range"].styled-slider.slider-progress::-webkit-slider-runnable-track {
        background:
            linear-gradient(#3c1fbf, #3c1fbf) 0 / var(--sx) 100% no-repeat,
            #efefef;
    }

    /*mozilla*/
    input[type="range"].styled-slider::-moz-range-thumb {
        width: 32px;
        height: 32px;
        border-radius: 16px;
        background: #3c1fbf;
        border: none;
        box-shadow: none;
    }

    input[type="range"].styled-slider::-moz-range-track {
        height: 2px;
        border: none;
        border-radius: 0;
        background: #efefef;
        box-shadow: none;
    }

    input[type="range"].styled-slider.slider-progress::-moz-range-track {
        background:
            linear-gradient(#3c1fbf, #3c1fbf) 0 / var(--sx) 100% no-repeat,
            #efefef;
    }

    /*ms*/
    input[type="range"].styled-slider::-ms-fill-upper {
        background: transparent;
        border-color: transparent;
    }

    input[type="range"].styled-slider::-ms-fill-lower {
        background: transparent;
        border-color: transparent;
    }

    input[type="range"].styled-slider::-ms-thumb {
        width: 32px;
        height: 32px;
        border-radius: 16px;
        background: #3c1fbf;
        border: none;
        box-shadow: none;
        margin-top: 0;
        box-sizing: border-box;
    }

    input[type="range"].styled-slider::-ms-track {
        height: 2px;
        border-radius: 0;
        background: #efefef;
        border: none;
        box-shadow: none;
        box-sizing: border-box;
    }

    input[type="range"].styled-slider.slider-progress::-ms-fill-lower {
        height: 2px;
        border-radius: 0px 0 0 0px;
        margin: -undefined 0 -undefined -undefined;
        background: #3c1fbf;
        border: none;
        border-right-width: 0;
    }

    /* INPUT  INPUT INPUT  */

    /* RESULT SECTION */

    .result-section {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .result-block {
        background-color: #f4f6fa;
        border-radius: 8px;
    }

    .result-block:first-child {
        background: url("https://uploads-ssl.webflow.com/64e51c01416719efe90e8aff/64e924ac725a76fabf40d0cf_result-block-bg.webp");
        background-position: center;
        background-size: cover;
        border: 1px solid red;
    }

    .result-block {
        padding: 24px;
        font-family: Satoshi, sans-serif;
    }

    .result-block p.title {
        color: #546071;
        font-size: 24px;
        margin: 0;
        margin-bottom: 8px;
        font-weight: bold;
    }

    .result-block:first-child p.title {
        color: #dbe2eb;
    }

    .result-block:first-child .value {
        color: #fefefe;
        font-size: 48px;
        line-height: 56px;
    }

    p#total-profit {
        margin: 0;
        display: inline-block;
        font-family: Satoshi, sans-serif;
        font-weight: 700;
        color: #fefefe;
        font-size: 38px;
    }

    .result-block:first-child .value span.cents {
        font-size: 36px;
        border: 1px solid red;
    }

    .cents {
        font-size: 24px;
        border: 1px solid red;
    }

    .result-block .value {
        margin: 0;
        margin-top: 8px;
        font-size: 30px;
        color: #1b2028;
        font-family: Satoshi, sans-serif;
        font-weight: 700;

        border: 1px solid red;
    }

    .result-section a {
        background-color: #5028ff;
        padding: 20px 24px;
        text-align: center;
        color: #fefefe;
        text-decoration: none;
        font-family: Satoshi, sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        border-radius: 6px;
        position: relative;
    }

    .result-section a svg {
        position: absolute;
        right: 24px;
        transform: translateY(-7px);
    }

    p.result-section-info {
        font-family:
            Public Sans,
            sans-serif;
        font-size: 16px;
        line-height: 28px;
        color: #7f8ca0;
    }

    p span.result-block-extra-info {
        font-family: Satoshi, sans-serif;
        font-size: 16px;
        color: #17a814;
    }

    p.link-to-compound {
        color: #7f8ca0;
        display: block;
        margin: 0;
        text-decoration: underline;
        font-size: 16px;
        font-family:
            Public Sans,
            sans-serif;
        line-height: 28px;
        font-weight: 300;
        margin-top: 12px;
    }

    span.green {
        color: #17a814;
        text-decoration: underline;
    }

    /* EMAIL SUBMIT */

    #label-email-abcc5f7d-6445-4782-872a-e949b860c23e {
        display: none;
    }

    .result-section form {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .result-section input {
        width: 100%;
        box-sizing: border-box;
        font-family: Satoshi, sans-serif;
        min-height: 44px;
        padding: 0 16px;
        border-radius: 6px;
        border: 1px solid #dbe2eb;
        font-size: 14px;
    }

    .result-section input[type="submit"] {
        border: none;
        background-image: url("https://uploads-ssl.webflow.com/64e51c01416719efe90e8aff/6516f3d7befc461bdca3e809_submit-button-bg.svg");
        background-size: contain;
        background-position: right;
        background-color: #5028ff;
        background-repeat: no-repeat;
        cursor: pointer;
        color: #fefefe;
    }

    .result-section .hs_error_rollup {
        display: none;
    }

    .result-section ul {
        display: none;
    }

    @media only screen and (min-width: 660px) {
        .financial-future-section {
            display: flex;
            background-image: url(https://uploads-ssl.webflow.com/64e51c01416719efe90e8aff/64f1e84df675358d75c8cfcf_rv-calculator-bg-svg.svg);
            background-position: top;
            background-size: contain;
            background-repeat: no-repeat;
            gap: 16px;
        }
        .calculate-content {
            flex: 1;
            margin: 0px;
        }
        .result-section {
            flex: 1;
            margin: 0px;
        }

        .result-block {
            padding: 24px;
        }

        p#total-profit {
            font-size: 48px;
        }
    }

    @media only screen and (min-width: 991px) {
        .financial-future-section {
            gap: 32px;
        }

        .calculate-content {
            padding: 48px;
        }

        .result-block {
            padding: 48px;
        }

        .result-section form {
            display: flex;
            flex-direction: row;
            gap: 16px;
        }

        .result-section form > div {
            width: 100%;
        }

        .result-section form .hs_submit {
            max-width: 199px;
        }

        .result-section input {
            min-height: 60px;
            text-align: left;
        }

        .result-section input[type="submit"] {
            padding-left: 32px;
        }
    }
</style>

<div class="section">
    <div class="calculator">
        <h2>Calculate Your <br /> <span>Financial Future</span></h2>

        <div class="financial-future-section">
            <div class="calculate-content">
                <div class="calculate-side">
                    <div class="calculate-block">
                        <p class="calculate-heading">Terms:</p>
                        <div id="term" class="calculate-data">
                            <div class="calculate-data-group">
                                <input
                                    type="radio"
                                    name="year-term"
                                    value="1"
                                    onclick="calculateReturns()"
                                />
                                <label for="html">1 Year (8% Annually)</label
                                ><br />
                            </div>

                            <div class="calculate-data-group">
                                <input
                                    type="radio"
                                    name="year-term"
                                    value="3"
                                    checked
                                    onclick="calculateReturns()"
                                />
                                <label for="css">3 Years (10% APY)</label><br />
                            </div>
                        </div>
                    </div>

                    <div class="calculate-block">
                        <p class="calculate-heading">Payment Options:</p>
                        <div class="calculate-data">
                            <div class="calculate-data-group">
                                <input
                                    type="radio"
                                    name="payment-term"
                                    value="monthly"
                                    onclick="calculateReturns()"
                                />
                                <label for="html">Monthly Payments</label><br />
                            </div>
                            <div class="calculate-data-group">
                                <input
                                    type="radio"
                                    name="payment-term"
                                    value="compound"
                                    onclick="calculateReturns()"
                                    checked
                                />
                                <label for="css">Compound</label><br />
                            </div>
                        </div>
                    </div>

                    <div class="calculate-block">
                        <p class="calculate-heading">Amount:</p>
                        <p class="amount-heading">$50000</p>
                        <input
                            id="amount"
                            class="amount styled-slider slider-progress"
                            type="range"
                            name="amount"
                            value="50000"
                            step="1000"
                            min="1000"
                            max="100000"
                            oninput="calculateReturns()"
                        />
                        <div class="min-max-data">
                            <p>$1000</p>
                            <p>$100,000</p>
                        </div>
                    </div>

                    <div class="calculate-block">
                        <p class="calculate-heading">Length:</p>
                        <p class="amount-heading time-display">3 Years</p>
                        <input
                            id="investmentDuration"
                            class="amount time-input styled-slider slider-progress"
                            type="range"
                            name="amount"
                            value="3"
                            step="1"
                            min="1"
                            max="10"
                            oninput="calculateReturns()"
                        />
                        <div class="min-max-data">
                            <p>1 Year</p>
                            <p>10 Years</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="result-section">
                <div class="result-block">
                    <p class="title">Total value with interest:</p>
                    <div class="value">
                        <svg
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                d="M4.5 15L12 7.5L19.5 15"
                                stroke="#17A814"
                                stroke-width="4"
                                stroke-linecap="square"></path>
                        </svg>
                        <p id="total-profit">TotalAmount</p>
                    </div>
                </div>
                <div class="result-block">
                    <p class="title">Compound interest:</p>
                    <p class="value" id="return-value">CompoundReturn</p>
                </div>

                <!-- <script
                    charset="utf-8"
                    type="text/javascript"
                    src="//js.hsforms.net/forms/embed/v2.js"></script>
                <script>
                    hbspt.forms.create({
                        region: "na1",
                        portalId: "23136538",
                        formId: "abcc5f7d-6445-4782-872a-e949b860c23e",
                    });
                </script> -->

                <p class="result-section-info">
                    The calculator on this website is for illustrative purposes
                    only. Rates of return and investment values are subject to
                    change and may be altered over time. Actual earnings and
                    payments should be verified and are contingent upon the
                    definitive terms and conditions set forth in any
                    accompanying contractual agreements.
                </p>
            </div>
        </div>
    </div>
</div>

<script is:inline>
    const termSelection = document.querySelectorAll("input[name=year-term]");
    const investmentDurationSlider =
        document.getElementById("investmentDuration");

    // TERM BUTTONS THAT UPDATE THE CALC

    termSelection[0].addEventListener("click", () => {
        investmentDurationSlider.value = 1;
        calculateReturns();
    });
    termSelection[1].addEventListener("click", () => {
        investmentDurationSlider.value = 3;
        calculateReturns();
    });

    function calculateReturns() {
        const payment = document.querySelector(
            'input[name="payment-term"]:checked',
        ).value;

        const investmentAmount = parseFloat(
            document.getElementById("amount").value,
        );

        const investmentDuration = parseFloat(
            document.getElementById("investmentDuration").value,
        );

        const totalProfitDOM = document.getElementById("total-profit");
        const valueReturnDOM = document.getElementById("return-value");

        // GET SECTION TITLES
        const resultTitles = document.querySelectorAll(
            ".result-section p.title",
        );

        // Calculate APY based on investment duration
        const compoundAPY = investmentDuration >= 3 ? 0.104713 : 0.083; // Adjust the interest rate based on investment duration
        const monthlyAPY = investmentDuration >= 3 ? 0.1 : 0.08;

        let totalAmountMontlhy = investmentAmount;
        let totalAmountCompound = investmentAmount;

        let monthlyReturns = 0; // Store the monthly returns

        const months = investmentDuration * 12;

        // MONTHLY
        const monthlyRate = monthlyAPY / 12;
        const monthlyEarnings = (totalAmountMontlhy * monthlyRate) / months;

        for (let i = 0; i < months; i++) {
            totalAmountMontlhy += monthlyEarnings;
            monthlyReturns += monthlyEarnings;
        }

        let monthlyPayment = monthlyReturns.toLocaleString("en-US", {
            minimumFractionDigits: 2,
            maximumFractionDigits: 2,
        });

        let montlyPaymentTotal = (totalAmountMontlhy +=
            monthlyReturns * (months - 1));

        // COMPOUND
        totalAmountCompound *= Math.pow(1 + compoundAPY, investmentDuration);

        const compoundReturn = totalAmountCompound - investmentAmount;

        let compoundValue = totalAmountCompound;

        let returnValue = compoundReturn.toLocaleString("en-US", {
            minimumFractionDigits: 2,
            maximumFractionDigits: 2,
        });

        let extraInfo = "";

        if (investmentDuration >= 3) {
            extraInfo = "(10.47% APY)";
        } else {
            extraInfo = "(8% Annually)";
        }

        if (payment === "monthly") {
            const montlyPaymentTotalString = montlyPaymentTotal.toLocaleString(
                "en-US",
                {
                    minimumFractionDigits: 2,
                    maximumFractionDigits: 2,
                },
            );

            // MODIFY SECTION TITLES
            resultTitles[0].textContent = "Monthly Payment:";
            resultTitles[1].textContent = "Monthly Payments Total Value:";

            totalProfitDOM.innerHTML = `$${monthlyPayment.slice(0, -2)}<span class="cents">${monthlyPayment.slice(-2)} </span>`;

            valueReturnDOM.innerHTML = `$${montlyPaymentTotalString.slice(0, -3)}<span class="cents">${montlyPaymentTotalString.slice(-3)} </span> <p class="link-to-compound">If you choose to compound you could earn <span class="green">$${(compoundValue - montlyPaymentTotal).toFixed(2)}</span> more</p>`;
        } else if (payment === "compound") {
            const compoundValueString = compoundValue.toLocaleString("en-US", {
                minimumFractionDigits: 2,
                maximumFractionDigits: 2,
            });

            // MODIFY SECTION TITLES
            resultTitles[0].textContent = "Total value with interest:";
            resultTitles[1].textContent = "Compound interest:";

            totalProfitDOM.innerHTML = `$${compoundValueString.slice(0, -2)}<span class="cents">${compoundValueString.slice(-2)} </span>`;

            valueReturnDOM.innerHTML = `$${returnValue.slice(0, -3)}<span class="cents">${returnValue.slice(-3)} <span class="result-block-extra-info">${extraInfo}</span></span>`;
        }

        // UPDATE AMOUNT SLIDER

        const amountValue = document.querySelector("p.amount-heading");
        const amountInput = document.querySelector("input.amount").value;

        amountValue.textContent = `$${Number(amountInput).toLocaleString("en-US")}`;

        // UPDATE LENGTH SLIDER

        const timeDisplay = document.querySelector("p.time-display");
        const timeInput = document.querySelector("input.time-input");

        timeDisplay.textContent = timeInput.value;

        if (timeInput.value <= 2) {
            termSelection[0].checked = true;
        } else {
            termSelection[1].checked = true;
        }
    }
    calculateReturns();

    for (let e of document.querySelectorAll(
        'input[type="range"].slider-progress',
    )) {
        e.style.setProperty("--value", e.value);
        e.style.setProperty("--min", e.min == "" ? "0" : e.min);
        e.style.setProperty("--max", e.max == "" ? "100" : e.max);
        e.addEventListener("input", () =>
            e.style.setProperty("--value", e.value),
        );
    }
</script>
