---
import FormCTA from "../components/FormCTA.astro";

import Chart from "../images/svg/chart.svg";
---

<style>
    section {
        margin-bottom: 1.5rem;
    }

    .section-container {
        max-width: 1280px;
        margin: 0 auto;
        border-radius: 1rem;
        background: #fff;
        padding: 3rem 1.5rem;
    }

    .section-content {
        max-width: 366px;
        margin: 0 auto;
    }

    section > * {
        text-align: center;
    }

    .info-section{
        margin-bottom: 1rem;
    }

    h2 {
        color: #281480;
        margin-bottom: 0.75rem;
    }

    p {
        color: #505050;
        text-align: center;
        font-weight: 500;
        line-height: 160%; /* 1.8rem */
    }


    @media only screen and (min-width: 768px) {
        section {
            padding: 0 2rem;
        }
    }

    @media only screen and (min-width: 990px) {
        .section-container{
            padding: 4rem 1.5rem;
        }

        h2{
            margin-bottom: 1.5rem;
        }

        .section-content {
            max-width: 921px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-areas:
                "info image"
                "form image";
            justify-content: space-between;
        }

        .info-section {
            grid-area: info;
            margin-top: auto;
            margin-bottom: 2rem;
            max-width: 366px;
            margin-right: auto;
        }

        .form-cta {
            grid-area: form;
            max-width: 366px;
            width: 100%;
            margin-right: auto;
        }

        .image-section {
            grid-area: image;
            text-align: center;
        }

        .image-section img{
            margin-left: auto;
        }
    }
</style>

<section>
    <div class="section-container">
        <div class="section-content">
            <div class="info-section">
                <h2>Comparison Chart</h2>
                <p>
                    When it comes to high yield returns we are the best in the
                    market.
                </p>
            </div>

            <div class="image-section">
                <Chart />
            </div>

            <div class="form-cta">
                <FormCTA />
            </div>
        </div>
    </div>
</section>

