---

import FormCTAV2 from "../components/FormCTAV2.astro";

import Ten from "../images/svg/10-rv.svg";

import Business from "../images/svg/business-logos/business-insider.svg";

import Market from "../images/svg/business-logos/market-watch.svg";
import Ap from "../images/svg/business-logos/ap.svg";
import Street from "../images/svg/business-logos/street-insider.svg";
import Benzinga from "../images/svg/business-logos/benzinga.svg";
import Morning from "../images/svg/business-logos/morning.svg";




---

<style>
    .section-container {
        padding: 3rem 1.5rem 2rem 1.5rem;

        background-image: url(/waves.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        text-align: center;
    }

    .section-content svg{
        margin: 0 auto;
    }

    h1 {
        font-size: 2.875rem;
        margin-bottom: 2rem;
    }

    .hero-image {
        margin: 0 auto;
        margin-bottom: 1.5rem;
    }

    p.hero-text {
        font-family: "Satoshi", sans-serif;
        font-size: 1.8125rem;

        font-weight: 700;
        line-height: 100%;
        /* 1.8125rem */

        background: linear-gradient(90deg, #5028ff 0%, #ff592c 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        margin-bottom: 3rem;
    }

    .form-cta {
        margin-bottom: 3rem;
    }

    hr {
        height: 0.0625rem;
        background: #afb5bc;
        margin-bottom: 1rem;
    }

    .business {
        display: grid;
        grid-auto-columns: auto;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items: center;
        gap: 0.5rem;
    }

    @media only screen and (min-width: 768px) {
        section {
            padding: 0 2rem;
        }
    }

    @media only screen and (min-width: 990px) {
        h1 {
            margin-bottom: 3rem;
        }
        .section-content {
            max-width: 921px;
        }

        .business {
            grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        }
    }
</style>

<section>
    <div class="section-container">
        <div class="section-content">
            <h1>Compound Your Wealth Passively</h1>
            <Ten />

            <p class="hero-text">Fixed Annual Returns</p>

            <div class="form-cta">
                <FormCTAV2 />
            </div>

            <hr />

            <div class="business">
                <Business />

                <Morning />

                <Market />

                <Street />
                
                <Benzinga />

                <Ap />
            </div>
        </div>
    </div>
</section>

