---

import FormCTA from "../components/FormCTA.astro";


import Business from "../images/svg/business-logos/business-insider.svg";
import Weird from "../images/svg/business-logos/weird.svg";
import Market from "../images/svg/business-logos/market-watch.svg";
import Ap from "../images/svg/business-logos/ap.svg";
import Street from "../images/svg/business-logos/street-insider.svg";
import Benzinga from "../images/svg/business-logos/benzinga.svg";



---

<style>
    .section-container {
        padding: 3rem 1.5rem 2rem 1.5rem;

        background-image: url(/waves.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        text-align: center;
    }

    .section-content svg{
        margin: 0 auto;
    }

    h1 {
        font-size: 2.875rem;
        margin-bottom: 2rem;
    }

    .hero-image {
        margin: 0 auto;
        margin-bottom: 1.5rem;
    }

    p.hero-text {
        font-family: "Satoshi", sans-serif;
        font-size: 1.8125rem;

        font-weight: 700;
        line-height: 100%;
        /* 1.8125rem */

        background: linear-gradient(90deg, #5028ff 0%, #ff592c 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        margin-bottom: 3rem;
    }

    .form-cta {
        margin-bottom: 1rem;
    }

    hr {
        height: 0.0625rem;
        background: #afb5bc;
        margin-bottom: 1rem;
    }

    .business {
        display: grid;
        grid-auto-columns: auto;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        justify-items: center;
    }

    @media only screen and (min-width: 768px) {
        section {
            padding: 0 2rem;
        }
    }

    @media only screen and (min-width: 990px) {
        h1 {
            margin-bottom: 3rem;
        }
        .section-content {
            max-width: 921px;
        }

        .business {
            grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        }
    }
</style>

<section>
    <div class="section-container">
        <div class="section-content">
            <h1>Compound Your Wealth Passively</h1>
            <svg
                width="277"
                height="148"
                viewBox="0 0 277 148"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M68.9874 1.94372V144.113H30.3908V46.6492H29.0024C27.7066 48.3615 25.8091 50.0275 23.3101 51.6473C20.8573 53.267 17.7566 54.6091 14.008 55.6735C10.2594 56.6917 5.81665 57.2008 0.679688 57.2008V26.9343C4.65967 26.9343 8.40827 26.2864 11.9255 24.9906C15.4889 23.6485 18.6359 21.8205 21.3664 19.5066C24.0968 17.1926 26.2257 14.5316 27.7529 11.5235C29.3263 8.51532 30.1131 5.32208 30.1131 1.94372H68.9874Z"
                    fill="url(#paint0_linear_2629_599)"></path>
                <path
                    d="M148.405 148C135.493 147.954 124.34 144.969 114.945 139.045C105.55 133.121 98.3078 124.583 93.2172 113.43C88.1265 102.276 85.6043 88.9018 85.6506 73.3058C85.6968 57.6635 88.2422 44.3815 93.2866 33.4597C98.3773 22.5378 105.597 14.2308 114.945 8.53847C124.34 2.84616 135.493 0 148.405 0C161.317 0 172.47 2.8693 181.864 8.60789C191.259 14.3002 198.502 22.6073 203.592 33.5291C208.683 44.4509 211.205 57.7098 211.159 73.3058C211.159 88.9944 208.614 102.415 203.523 113.568C198.432 124.722 191.19 133.26 181.795 139.184C172.447 145.061 161.317 148 148.405 148ZM148.405 116.623C155.069 116.623 160.53 113.152 164.788 106.21C169.091 99.222 171.22 88.2539 171.174 73.3058C171.174 63.541 170.202 55.5578 168.258 49.3565C166.315 43.1551 163.631 38.5735 160.206 35.6116C156.781 32.6035 152.848 31.0994 148.405 31.0994C141.741 31.0994 136.303 34.4778 132.091 41.2345C127.88 47.9912 125.728 58.6817 125.636 73.3058C125.589 83.2558 126.538 91.4472 128.482 97.8799C130.425 104.266 133.11 108.987 136.534 112.041C140.005 115.096 143.962 116.623 148.405 116.623Z"
                    fill="url(#paint1_linear_2629_599)"></path>
                <path
                    d="M249.245 133.006V129.882C249.245 127.452 249.766 125.206 250.807 123.142C251.868 121.079 253.401 119.421 255.406 118.167C257.411 116.914 259.86 116.287 262.753 116.287C265.703 116.287 268.181 116.914 270.186 118.167C272.211 119.402 273.734 121.05 274.756 123.114C275.798 125.157 276.318 127.414 276.318 129.882V133.006C276.318 135.435 275.798 137.682 274.756 139.745C273.715 141.808 272.182 143.467 270.157 144.72C268.133 145.973 265.665 146.6 262.753 146.6C259.822 146.6 257.354 145.973 255.348 144.72C253.343 143.467 251.819 141.808 250.778 139.745C249.756 137.682 249.245 135.435 249.245 133.006ZM258.472 129.882V133.006C258.472 134.24 258.771 135.426 259.369 136.563C259.986 137.701 261.114 138.27 262.753 138.27C264.43 138.27 265.558 137.72 266.137 136.621C266.715 135.503 267.005 134.298 267.005 133.006V129.882C267.005 128.59 266.725 127.375 266.166 126.237C265.626 125.08 264.488 124.502 262.753 124.502C261.133 124.502 260.015 125.08 259.398 126.237C258.781 127.375 258.472 128.59 258.472 129.882ZM218.528 99.1063V95.9825C218.528 93.5143 219.058 91.2582 220.118 89.2142C221.198 87.1509 222.741 85.5022 224.746 84.2681C226.752 83.0147 229.181 82.3881 232.035 82.3881C234.985 82.3881 237.463 83.0147 239.469 84.2681C241.493 85.5022 243.026 87.1509 244.068 89.2142C245.109 91.2582 245.63 93.5143 245.63 95.9825V99.1063C245.63 101.575 245.099 103.831 244.039 105.875C242.998 107.919 241.465 109.548 239.44 110.763C237.415 111.978 234.947 112.585 232.035 112.585C229.123 112.585 226.655 111.968 224.631 110.734C222.625 109.5 221.102 107.861 220.061 105.817C219.039 103.773 218.528 101.536 218.528 99.1063ZM227.841 95.9825V99.1063C227.841 100.398 228.14 101.603 228.738 102.722C229.355 103.821 230.454 104.371 232.035 104.371C233.732 104.371 234.86 103.821 235.419 102.722C235.998 101.603 236.287 100.398 236.287 99.1063V95.9825C236.287 94.6905 236.017 93.4757 235.477 92.338C234.937 91.181 233.79 90.6026 232.035 90.6026C230.415 90.6026 229.307 91.1907 228.709 92.3669C228.13 93.5432 227.841 94.7484 227.841 95.9825ZM222.895 144.113L263.621 84.8755H271.517L230.791 144.113H222.895Z"
                    fill="url(#paint2_linear_2629_599)"></path>
                <defs>
                    <linearGradient
                        id="paint0_linear_2629_599"
                        x1="0.946155"
                        y1="73.8611"
                        x2="275.843"
                        y2="73.8611"
                        gradientUnits="userSpaceOnUse"
                    >
                        <stop stop-color="#5028FF"></stop>
                        <stop offset="1" stop-color="#FF592C"></stop>
                    </linearGradient>
                    <linearGradient
                        id="paint1_linear_2629_599"
                        x1="0.946155"
                        y1="73.8611"
                        x2="275.843"
                        y2="73.8611"
                        gradientUnits="userSpaceOnUse"
                    >
                        <stop stop-color="#5028FF"></stop>
                        <stop offset="1" stop-color="#FF592C"></stop>
                    </linearGradient>
                    <linearGradient
                        id="paint2_linear_2629_599"
                        x1="0.946155"
                        y1="73.8611"
                        x2="275.843"
                        y2="73.8611"
                        gradientUnits="userSpaceOnUse"
                    >
                        <stop stop-color="#5028FF"></stop>
                        <stop offset="1" stop-color="#FF592C"></stop>
                    </linearGradient>
                </defs>
            </svg>

            <p class="hero-text">Fixed Annual Returns</p>

            <div class="form-cta">
                <FormCTA />
            </div>

            <hr />

            <div class="business">
                <Business />

                <Weird />

                <Market />

                <Ap />

                <Street />

                <Benzinga />
            </div>
        </div>
    </div>
</section>

