---
import Image from "astro/components/Image.astro";
import arrow from "../images/design-elements/Arrow-right.svg";
import one from "../images/design-elements/one.svg";
import two from "../images/design-elements/two.svg";
import three from "../images/design-elements/three.svg";
---

<style>
    section {
        margin-bottom: 1.5rem;
    }

    .section-container {
        max-width: 1280px;
        margin: 0 auto;
        border-radius: 1rem;
        background: #fff;
        padding: 3rem 1.5rem;
    }

    .section-content {
        max-width: 366px;
        margin: 0 auto;
    }

    section > * {
        text-align: center;
    }

    h2 {
        color: #281480;
        font-size: 2.25rem;
        font-weight: 700;
        line-height: 110%; /* 2.475rem */
        margin-bottom: 0.75rem;
    }

    p.intro {
        color: #505050;
        font-size: 1.125rem;
        font-weight: 500;
        line-height: 160%; /* 1.8rem */

        margin-bottom: 3rem;
    }
    form {
        margin-bottom: 1rem;
    }

    .form-block {
        border-radius: 1.5625rem;
        border: 1px solid #afb5bc;
        background: #fff;
        display: flex;
        max-width: 366px;
        height: 3.125rem;
        padding: 1rem 0.5rem 1rem 1.5rem;
        justify-content: space-between;
        align-items: center;
        flex-shrink: 0;
        margin: 0 auto;
    }

    input {
        border: none;
    }

    button {
        background-color: #5028ff;
        border: 1px solid #5028ff;
        color: #fff;
        border-radius: 2rem;
        width: 2.13156rem;
        height: 2.13156rem;
    }

    .signup-error {
        display: none;
    }

    .account {
        color: #737373;
        font-family: "Inter", sans-serif;
        font-size: 1rem;
        font-weight: 500;
        line-height: 150%;
        margin-bottom: 2rem;
    }

    .login {
        color: #396afb;
    }

    .steps {
        display: flex;
        flex-direction: column;
        gap: 3rem;

        margin-bottom: 3rem;
    }

    .step {
        display: flex;
        text-align: left;
        gap: 0.75rem;
    }
    .number {
        flex-shrink: 0;
    }

    .info-title {
        color: #1d1d1f;
        font-size: 1.125rem;
        font-weight: 500;
        line-height: 100%; /* 1.125rem */

        margin-bottom: 0.75rem;
    }

    .info-text {
        color: #505050;

        font-size: 1rem;

        font-weight: 400;
        line-height: 160%; /* 1.6rem */
    }

    .info-text.second {
        margin-bottom: 1rem;
    }

    .info a {
        color: #396afb;
        font-size: 1rem;
        font-weight: 400;
        line-height: 100%; /* 1rem */

        /* text-decoration: none; */
    }

    @media only screen and (min-width: 768px) {
        section {
            padding: 0 2rem;
        }

        .account{
            margin-bottom: 0;
        }
    }

    @media only screen and (min-width: 990px) {
        .section-container {
            padding: 4rem 1.5rem;
        }

        .section-content {
            max-width: 921px;
        }

        .steps{
            flex-direction: row;
        }

        .step{
            flex-direction: column;
            align-items: center;
            text-align: center;

            flex: 1;
        }


        p.account{
            margin-bottom: 0;
        }


    }
</style>

<section>
    <div class="section-container">
        <div class="section-content">
            <h2>How It Works</h2>

            <p class="intro">
                This is an exclusive and first of its kind bond offering,
                available to all US investors
            </p>

            <div class="steps">
                <div class="step">
                    <div class="number">
                        <Image
                            src={one}
                            alt="first step"
                            width={36}
                            height={36}
                        />
                    </div>
                    <div class="info">
                        <p class="info-title">Get Started</p>
                        <p class="info-text">
                            Create an account, choose options, sign docs and
                            fund your investment within 2 minutes.
                        </p>
                    </div>
                </div>

                <div class="step">
                    <div class="number">
                        <Image
                            src={two}
                            alt="first step"
                            width={36}
                            height={36}
                        />
                    </div>
                    <div class="info">
                        <p class="info-title">We Diversify the Funds</p>
                        <p class="info-text second">
                            We build new homes in one of the #1 beaches in the
                            USA, while allocating to Bitcoin and Ethereum as a
                            way to preserve and grow capital for the company and
                            its investors.
                        </p>
                        <a href="/">Learn more </a>
                    </div>
                </div>

                <div class="step">
                    <div class="number">
                        <Image
                            src={three}
                            alt="first step"
                            width={36}
                            height={36}
                        />
                    </div>
                    <div class="info">
                        <p class="info-title">Get Paid Monthly</p>
                        <p class="info-text">
                            Receive your high-yield interest payments monthly or
                            let them compound over your bond term.
                        </p>
                    </div>
                </div>
            </div>

            <form id="how-cta-form">
                <div class="form-block">
                    <input
                        type="email"
                        placeholder="Enter your email"
                        required
                        class="email-input"
                    />
                    <button type="submit">
                        <span class="button-text">
                            <Image
                                src={arrow}
                                alt="herobox"
                                width={24}
                                height={24}
                            />
                        </span>
                        <span class="loader" style="display: none;"></span>
                    </button>
                </div>
                <p class="signup-error"></p>
            </form>
            <p class="account">
                Have an account? <a class="login" href="/">Log in</a>
            </p>
        </div>
    </div>
</section>

<script is:inline>
    document
        .getElementById("how-cta-form")
        .addEventListener("submit", async function (event) {
            event.preventDefault();

            const emailInput = document.querySelector(".email-input");
            const email = emailInput.value;
            const buttonText = document.querySelector(".button-text");
            const loader = document.querySelector(".loader");
            const signupError = document.querySelector(".signup-error");

            buttonText.style.display = "none";
            loader.style.display = "inline-block";
            signupError.style.display = "none";

            try {
                const response = await fetch("/api/get-started", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({ email }),
                });

                const result = await response.json();

                if (response.ok) {
                    console.log("Signup successful!");
                    window.location.href = "/signup";
                } else {
                    const errorMessage = result.error || "Signup failed";
                    signupError.textContent = errorMessage;
                    signupError.style.display = "block";
                }
            } catch (error) {
                console.error("Error:", error);
                signupError.textContent = "An unexpected error occurred.";
                signupError.style.display = "block";
            } finally {
                buttonText.style.display = "inline-block";
                loader.style.display = "none";
            }
        });
</script>
