---
import DualCTA from "../components/DualCTA.astro";
---

<style>
    .section-content{
        max-width: 366px;
    }

    h2 {
        margin-bottom: 1rem;
        text-align: center;
    }

    ul {
        padding-left: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        line-height: 160%;

        margin-bottom: 2rem;

        font-family: "Inter";
    }

    p.incentive {
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.6;

        text-align: center;

        margin-bottom: 2rem;
    }

    p.pre-form-text {
        text-align: center;
        font-weight: 400;
        line-height: 1.6;
        font-size: 1rem;

        margin-bottom: 1rem;
    }

    @media screen and (min-width: 990px){
        .section-content{
            max-width: 912px;

            display: flex;
            justify-content: space-between;

            gap: 2rem;
        }

        h2{
            text-align: left;
        }

        ul{
            margin-bottom: 0;
        }

        .section-content > div{
            max-width: 366px;
        }
    }
</style>

<section>
    <div class="section-container">
        <div class="section-content">
            <div class="left-side">
                <h2>Why Invest Now?</h2>
                <ul>
                    <li>
                        The best opportunities are secured before markets become
                        overcrowded.
                    </li>
                    <li>
                        Limited available lots mean once they're gone, they're gone.
                    </li>
                    <li>
                        We have an inside track on new developments and strategic
                        acquisitions.
                    </li>
                </ul>
            </div>

            <div class="right-side">
                <p class="incentive">
                    A real estate-backed strategy providing predictable returns
                    and long-term capital security.
                </p>

                <div class="form-cta">
                    <!-- <p class="pre-form-text">Start earning interest in less than 2 minutes</p> -->
                    <DualCTA />
                </div>


            </div>
        </div>
    </div>
</section>
