---
import Image from "astro/components/Image.astro";
import arrow from "../images/design-elements/Arrow-right.svg";
import joe from "../images/design-elements/joe-robert.jpg";
import FormCTA from "../components/FormCTA.astro";
---

<style>
    section {
        margin-bottom: 1.5rem;
    }

    .section-container {
        max-width: 1280px;
        margin: 0 auto;
        border-radius: 1rem;
        background: #fff;
        padding: 3rem 1.5rem;
    }

    .section-content {
        max-width: 366px;
        margin: 0 auto;
    }

    section > * {
        text-align: center;
    }

    .intro img {
        margin: 0 auto;
        margin-bottom: 1.5rem;
    }

    .intro {
        margin-bottom: 3rem;
    }

    p.name {
        color: #1d1d1f;
        font-size: 1.25rem;
        font-weight: 600;
        line-height: 1; /* 1.25rem */

        margin-bottom: 6px;
    }

    p.position {
        color: #505050;
        text-align: center;
        font-weight: 500;
        line-height: 160%; /* 1.8rem */
        font-size: 0.875rem;
        margin-bottom: 1.5rem;
    }

    p.info {
        color: #505050;
        font-size: 1.25rem;
        font-weight: 500;
        line-height: 150%; /* 1.875rem */
    }

    .info-blocks {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.75rem;

        margin-bottom: 3rem;
    }
    .info-block {
        text-align: left;
        padding: 1rem;

        border-radius: 0.5rem;
        border: 1px solid #afb5bc;
    }

    .block-title {
        color: #1d1d1f;
        font-size: 0.875rem;
        font-weight: 500;
        line-height: 100%; /* 0.875rem */

        margin-bottom: 0.38rem;
    }

    .block-value {
        font-size: 2rem;
        color: #281480;
        font-weight: 600;
        line-height: 100%; /* 2rem */
    }

    .extra-info {
        color: #505050;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.6; /* 1.6rem */

        margin: 0 auto;
        margin-bottom: 1rem;

        max-width: 39rem;
    }
    @media only screen and (min-width: 768px) {
        section {
            padding: 0 2rem;
        }
        .account {
            margin-bottom: 0;
        }
    }

    @media only screen and (min-width: 990px) {
        .section-container {
            padding: 4rem 1.5rem;
        }

        .section-content {
            max-width: 921px;
        }

        .info-blocks {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }
</style>

<section>
    <div class="section-container">
        <div class="section-content">
            <div class="intro">
                <Image src={joe} alt="herobox" width={96} height={96} />
                <p class="name">Joe Robert</p>
                <p class="position">Manager</p>

                <p class="info">
                    At Robert Ventures, our mission is to leverage my investment
                    strategies to maximize growth and deliver strong returns for
                    our investors.
                </p>
            </div>

            <div class="info-blocks">
                <div class="info-block">
                    <p class="block-title">Track Record</p>
                    <p class="block-value">20 yrs</p>
                </div>
                <div class="info-block">
                    <p class="block-title">Properties</p>
                    <p class="block-value">200 +</p>
                </div>
                <div class="info-block">
                    <p class="block-title">Mortgages</p>
                    <p class="block-value">1500 +</p>
                </div>
                <div class="info-block">
                    <p class="block-title">Tech Investments</p>
                    <p class="block-value">40 +</p>
                </div>
            </div>

            <p class="extra-info">
                Trust your investments with a proven manager that hasn't missed
                an investor payment and returned all capital with interest.
            </p>

            <div class="form-cta">
                <FormCTA />
            </div>
        </div>
    </div>
</section>
