---
import Image from "astro/components/Image.astro";
import arrow from "../images/design-elements/Arrow-right.svg";
import joe from "../images/design-elements/joe-robert.jpg";
import DualCTA from "../components/DualCTA.astro";
---

<style>
    section > * {
        text-align: center;
    }

    .intro img {
        margin: 0 auto;
        margin-bottom: 1.5rem;

        max-width: 96px;
        max-height: 96px;
    }

    .intro {
        margin-bottom: 3rem;
    }

    h2 {
        color: #281480;
        margin-bottom: 3rem;
    }

    p.name {
        font-size: 1.25rem;
        color: #1d1d1f;
        margin-bottom: 0.75rem;
        font-weight: 500;

        line-height: 1;
    }

    p.position {
        color: #505050;
        text-align: center;
        font-weight: 500;
        line-height: 160%; /* 1.8rem */
        font-size: 0.875rem;
        margin-bottom: 1.5rem;
    }

    .info{
        display: flex;
        flex-direction: column;
        gap: 1.25rem;

        max-width: 600px;
        margin: 0 auto;
    }

    .info p{
        color: #505050;
        font-family: var(--font-body);
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 160%; /* 1.6rem */

        text-align: left;
    }

    .info-blocks {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.75rem;
        margin-bottom: 3rem;
    }
    .info-block {
        text-align: left;
        padding: 1rem;

        border-radius: 0.5rem;
        border: 1px solid #afb5bc;

        /* max-width: 177px; */
    }

    .block-title {
        color: #1d1d1f;
        font-size: 0.875rem;
        font-weight: 500;
        line-height: 100%; /* 0.875rem */

        margin-bottom: 0.38rem;
    }

    .block-value {
        font-size: 2rem;
        color: #281480;
        font-weight: 600;
        line-height: 100%; /* 2rem */
    }

    .extra-info {
        color: #505050;
        font-size: 1rem;
        font-weight: 400;
        line-height: 160%; /* 1.6rem */

        margin: 0 auto;
        margin-bottom: 1rem;

        max-width: 39rem;
    }
    @media only screen and (min-width: 768px) {
        section {
            padding: 0 2rem;
        }
        .account {
            margin-bottom: 0;
        }
    }

    @media only screen and (min-width: 990px) {
        .section-container {
            padding: 4rem 1.5rem;
        }

        .section-content {
            max-width: 921px;
        }

        .info-blocks {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }
</style>

<section>
    <div class="section-container">
        <div class="section-content">
            <div class="intro">
                <h2>Manager Track Record</h2>
                <Image src={joe} alt="herobox" width={192} height={192} />
                <p class="name">Joe Robert</p>
                <p class="position">Manager</p>

                <div class="info">
                    <p>
                        Joe Robert is the CEO and Founder of Robert Ventures and has
                        an extensive background in real estate investing, with over
                        20 years of asset management experience. During this period,
                        he raised capital from individuals and partners that paid
                        double-digit preferred returns annually for years. Joe has
                        never lost private investors capital over his whole period
                        of investing.
                    </p>
                    <p>
                        A decade ago, he partnered with a large fund to take
                        advantage of the opportunity to buy distressed debt at low
                        prices and returned capital, along with double digit returns
                        for several years as the portfolio was managed.
                    </p>
    
                    <p>
                        Over the last five years, he has made multiple investments
                        into the tech sector that included providing venture capital
                        and acquiring digital assets that provided exposure to the
                        growing digital economy.
                    </p>
                </div>
            </div>

            <div class="info-blocks">
                <div class="info-block">
                    <p class="block-title">Track Record</p>
                    <p class="block-value">20 yrs</p>
                </div>
                <div class="info-block">
                    <p class="block-title">Properties</p>
                    <p class="block-value">200 +</p>
                </div>
                <div class="info-block">
                    <p class="block-title">Mortgages</p>
                    <p class="block-value">1500 +</p>
                </div>
                <div class="info-block">
                    <p class="block-title">Tech Investments</p>
                    <p class="block-value">40 +</p>
                </div>
            </div>

            <p class="extra-info">
                Trust your investments with a proven manager that hasn't missed
                an investor payment and returned all capital with interest.
            </p>

            <div class="form-cta">
                <DualCTA />
            </div>
        </div>
    </div>
</section>
