---
import Image from "astro/components/Image.astro";
import internetCrypto from "../images/internet-vs-crypto.jpg";
---

<style>

    section{
        margin-bottom: 3rem;
        padding: 0 0.5rem;
    }

    .strategy-hero{
        max-width: 1356px;
        margin: 0 auto;
        padding: 3rem 0.5rem;
        background-color: #FFFFFF;
        border-radius: 1rem;
    }
    span {
        background: linear-gradient(90deg, #281480 0%, #3c1fbf 50%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    h1{
        margin-bottom: 1.5rem;
    }

    .info{
        display: flex;
        flex-direction: column;
        gap: 1.125rem;
        margin-bottom: 2rem;
    }

    .info-block{
        display: flex;
        flex-direction: column;
        gap: 1.125rem;
    }

    img{
        width: 100%;
    }

    @media screen and (min-width: 768px) {
        section{
            margin-bottom: 4rem;
            padding: 0 1rem;
        }
        .info{
            flex-direction: row;
        }

        .strategy-hero{
            padding: 4rem 3rem;
        }

        .info{
            gap: 2rem;
        }
    }
</style>

<section>
    <div class="strategy-hero">
        <h1>
            <span>Digital Assets:</span><br> Digitization of the World
        </h1>
    
        <div class="info">
            <div class="info-block">
                <p>
                    At Robert Ventures, we are currently focused on acquiring and investing in Bitcoin (BTC) and Ethereum (ETH), with a strict adherence to our policies and procedures when evaluating any potential new cryptocurrencies. Our thorough underwriting process ensures compliance with regulatory standards and proper risk assessment before any new digital token acquisition.
                </p>
            
                <p>
                    We continuously monitor updates from the SEC and Federal Courts, particularly regarding the classification of cryptocurrencies as securities, to maintain legal integrity and safeguard investor confidence. We do not engage in third-party lending or accept cryptocurrency as payment.
                </p>

                <p>
                    To enhance the profitability of our digital asset portfolio, we strategically participate in yield-generating activities like “staking.” This process not only contributes to blockchain security but also generates additional returns by validating transactions and creating new blocks. By leveraging staking opportunities, we aim to optimize returns while keeping risk under control and aligning with our investment objectives. 
                </p>
            </div>
    
            <div class="info-block">
                <p>
                    As industry giants like BlackRock, Fidelity, Microsoft, and Tesla make strategic moves into the cryptocurrency space, our investment approach is further validated. These actions signal that digital assets are not only here to stay but are poised for substantial growth in the coming decade, making early exposure to this asset class a critical advantage.
                </p>
            
                <p>
                    Led by a CEO deeply engaged in the cryptocurrency sector and connected to key project builders and fund managers, Robert Ventures is positioned to stay ahead of emerging trends and capitalize on new opportunities in the evolving digital asset landscape.
                </p>
            </div>
        </div>
        <div class="image">
            <Image src={internetCrypto} alt="herobox" width={1200} height={512} />
        </div>
    
    </div>
</section>

<script is:inline></script>
