---
import Image from "astro/components/Image.astro";
import iphone from "../images/Desktop-herobox-iphone.png";
---

<style>

    section{
        margin-bottom: 3rem;
        padding: 0 0.5rem;
    }

    .strategy-hero{
        max-width: 1356px;
        margin: 0 auto;
        padding: 3rem 0.5rem;
        background-color: #FFFFFF;
        border-radius: 1rem;
    }
    span {
        background: linear-gradient(90deg, #281480 0%, #3c1fbf 50%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    h1{
        margin-bottom: 1.5rem;
    }

    .info{
        display: flex;
        flex-direction: column;
        gap: 1.125rem;
    }

    .info-block{
        display: flex;
        flex-direction: column;
        gap: 1.125rem;
    }

    @media screen and (min-width: 768px) {
        .section{
            margin-bottom: 4rem;
            padding: 0 1rem;
        }

        .info{
            flex-direction: row;
        }

        .strategy-hero{
            padding: 4rem 3rem;
        }

        .info{
            gap: 2rem;
        }
    }
</style>

<section>
    <div class="strategy-hero">
        <h1>
            <span>Real Estate:</span><br> The Evergreen Performer
        </h1>
    
        <div class="info">
    
            <div class="info-block">
                <p>
                    Real estate has consistently shown an upward trend over the past 30 years, with a projected compound annual growth rate (CAGR) of 5.2% through 2030.
                </p>
            
                <p>
                    Robert Ventures understands how to navigate market cycles effectively. Joe's deep knowledge of pricing and buyer demand has consistently delivered strong returns, ensuring we are well-prepared to capitalize on future opportunities
                </p>

                <p>
                    Our initial focus will be on new construction in North Carolina's Outer Banks, a high-demand area with limited supply of entry-level homes. This unique opportunity allows us to invest in lots ranging from $75,000 to $250,000, with construction costs between $300,000 and $500,000. 
                </p>
                <p>
                    Target sales prices are expected to be between $500,000 and $800,000. Each project is estimated to complete within 10 months, from building permits to final sale.
                </p>
            </div>
    
            <div class="info-block">
                <p>
                    Our established relationships with brokers give us exclusive access to properties before they hit the market, and targeted direct marketing campaigns may be employed to generate additional leads. 
                </p>
            
                <p>
                    The Outer Banks is a sought-after market, consistently ranked among the top beach destinations in the U.S. It attracts buyers looking for vacation homes, whether for personal use, family getaways, or as lucrative rental income properties.
                </p>
                <p>
                    By acquiring, developing, and selling properties in high-demand, low-supply areas, we create opportunities for regular returns and liquidity for our investors. As we grow, we’ll continue exploring other markets where strategic partnerships can further enhance the value of our portfolio.
                </p>
            </div>
        
        </div>
    
    </div>
</section>

<script is:inline></script>
