---

---

<style>
    h2 {
        text-align: center;
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    /* Hide scrollbar for Chrome, Safari and Opera */
    .cw_testimonial_flexible__carousel::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .cw_testimonial_flexible__carousel {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }

    #wf1d73bd5-0d74-4c9c-8aa6-4192848316de .cw_testimonial_flexible__carousel {
        padding: 0px;
    }

    #wf1d73bd5-0d74-4c9c-8aa6-4192848316de.cw-testimonial-widget {
        margin: 0px auto;
    }

    #wf1d73bd5-0d74-4c9c-8aa6-4192848316de.cw-testimonial-widget
        .cw_testimonial_flexible_userrow.flexible6
        .cw_testimonial_flexible_userrow__info__title {
        font-family: "Satoshi";
    }
</style>

<section>
    <div class="section-container">
        <div class="section-content">
            <h2>Manager's Testimonials</h2>
            <div id="wf1d73bd5-0d74-4c9c-8aa6-4192848316de" class="cw-testimonial-widget"></div>
        </div>
    </div>
</section>


<script>
    function loadTestimonial() {
        // Create a script element
        const script = document.createElement("script");
        script.id = "trust-tracking";
        script.defer = true;
        script.async = true;
        // Set the script source
        script.src = "https://cdn.usetrust.app/trust.min.js";
        // Inject the script into the document
        const firstScript = document.getElementsByTagName("script")[0];
        firstScript.parentNode.insertBefore(script, firstScript);
        // Define your customer and type IDs
        window.__TRUST__ = window.__TRUST__ || {};
        window.__TRUST__["customerId"] = "f97e48f0-cc33-4b3d-8271-f6fc6f7b9515";
        window.__TRUST__["typeId"] = "dfbea9f7-2122-44ba-9ec7-b39291e25893";
    }

    window.addEventListener("load", loadTestimonial);
</script>

<script >
    declare global {
        interface Window {
            __TRUST__?: {
                customerId?: string;
                typeId?: string;
            };
        }
    }

    export {};
</script>
